flows/basic http output
[{"id":"13f0777d.d56309","type":"template","z":"792fc8c.81b1538","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":470,"y":140,"wires":[["33eeb342.63b38c"]]},{"id":"2d52b473.3318ac","type":"function","z":"792fc8c.81b1538","name":"Drinks","func":"msg.payload =   \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["13f0777d.d56309"]]},{"id":"ad6ddf6f.4b764","type":"function","z":"792fc8c.81b1538","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["13f0777d.d56309"]]},{"id":"8062131.baa6bf","type":"http in","z":"792fc8c.81b1538","name":"/menu","url":"/menu","method":"get","swaggerDoc":"","x":110,"y":120,"wires":[["2d52b473.3318ac"]]},{"id":"ce76f6d6.6c3d78","type":"http response","z":"792fc8c.81b1538","name":"","x":810,"y":140,"wires":[]},{"id":"5d53dd36.e97fd4","type":"http in","z":"792fc8c.81b1538","name":"/specials","url":"/specials","method":"get","swaggerDoc":"","x":120,"y":160,"wires":[["ad6ddf6f.4b764"]]},{"id":"33eeb342.63b38c","type":"function","z":"792fc8c.81b1538","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["ce76f6d6.6c3d78"]]},{"id":"b8beb940.de95f8","type":"http in","z":"792fc8c.81b1538","name":"listener","url":"/listener","method":"get","upload":false,"swaggerDoc":"","x":190,"y":340,"wires":[["eb6959c.79998a8","3fabc70f.fe1178"]]},{"id":"eb6959c.79998a8","type":"debug","z":"792fc8c.81b1538","name":"REQ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":280,"wires":[]},{"id":"b683d001.60cbe","type":"http response","z":"792fc8c.81b1538","name":"","statusCode":"","headers":{},"x":910,"y":460,"wires":[]},{"id":"3fabc70f.fe1178","type":"function","z":"792fc8c.81b1538","name":"echo","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"};\n\n//msg.headers = {\"X-Auth-Token\": \"r2nrk9kD60iyU4VTrpj0MD7Sy2cWWjk1yUXNOiOt0bVdSvhu\"};\n\n//msg.payload = {\n//                \"name\": \"TwoPartitions\",\n//                \"partitions\": 2\n//};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["b683d001.60cbe","319e3772.3b2b88"]]},{"id":"319e3772.3b2b88","type":"debug","z":"792fc8c.81b1538","name":"RESP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":340,"wires":[]},{"id":"f7e9d1f3.c0636","type":"function","z":"792fc8c.81b1538","name":"json","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"};\n\n//msg.headers = {\"X-Auth-Token\": \"r2nrk9kD60iyU4VTrpj0MD7Sy2cWWjk1yUXNOiOt0bVdSvhu\"};\n\nflow.set(\"format\",\"JSON\");\n\nmsg.payload = {\n                \"name\": \"TwoPartitions\",\n                \"partitions\": 2\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["319e3772.3b2b88","e8d2e49.d025b18"]]},{"id":"b9445cfe.ae6e9","type":"http in","z":"792fc8c.81b1538","name":"test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["eb6959c.79998a8","ca816127.81a2f"]]},{"id":"e063035d.bcef5","type":"function","z":"792fc8c.81b1538","name":"string","func":"//msg object contains HTTP req and resp objects\n\nmsg.payload = \"Hello Coursera\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["b683d001.60cbe","319e3772.3b2b88"]]},{"id":"ca816127.81a2f","type":"function","z":"792fc8c.81b1538","name":"HTML","func":"flow.set(\"format\",\"HTML\");\n\nmsg.payload ={\n    'go':'abc',\n    'stop':'xyz',\n    'time': flow.get('time'),\n    'random': flow.get('random'),\n    'rtime' : flow.get('randomtime'),\n    'reqtime': flow.get('reqtime'),\n    'reqnum' : flow.get('reqnum')\n };\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["7e3e9974.e72998","319e3772.3b2b88"]]},{"id":"e8d2e49.d025b18","type":"function","z":"792fc8c.81b1538","name":"setHTTPheader","func":"\nif(flow.get('format') == \"JSON\") {\n    msg.headers={\"Content-Type\":\"application/json\"};\n} \nelse if(flow.get('format') == \"HTML\") {\n    msg.headers={\"Content-Type\":\"text/html\"};\n} else {\n    node.warn(\"UNKNOWN\");\n}\n\n//msg.headers={\"Content-Type\":\"text/html\"};\n//msg.headers={\"Content-Type\":\"application/json\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["b683d001.60cbe","319e3772.3b2b88"]]},{"id":"7e3e9974.e72998","type":"template","z":"792fc8c.81b1538","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h3>Page</h3> \n<hr>\n{{#payload.go}}\nGO {{payload.go}} \n{{/payload.go}}\n<br>\n{{#payload.stop}}\nSTOP {{payload.stop}} \n{{/payload.stop}}\n<hr>\n\n{{#payload.reqtime}}\nTime last server time request received at {{payload.time}} \n{{/payload.reqtime}}\n\n{{^payload.reqtime}}\nNo server time requests have been received\n{{/payload.reqtime}}\n<hr>\n\n{{#payload.reqnum}}\nLast random number request returned {{payload.random}}, which was received at {{payload.rtime}}\n{{/payload.reqnum}}\n\n{{^payload.reqnum}}\nNo requests for random numbers have been received\n{{/payload.reqnum}}\n","x":520,"y":500,"wires":[["e8d2e49.d025b18"]]}]
