flows/File_Driver
[{"id":"de8fbc22.56317","type":"inject","z":"e62a4771.30bf38","name":"","topic":"","payload":"{\"d\": {\"a\":2}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["d7fd0841.c26a78"]]},{"id":"d7fd0841.c26a78","type":"function","z":"e62a4771.30bf38","name":"Set Filename","func":"var index = context.get('index')||0;\n\n//dir is relative user home\nvar dir = \"data/democapture/\"\nvar file = \"event\" + index + \".json\"\n//node.warn(file)\n\nmsg.filename = dir + file;\nnode.warn(msg.filename)\n\nindex++;\ncontext.set('index', index);\n//node.warn(index);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["1e1f0edf.8b6e51"]]},{"id":"f4e4c72e.46aab8","type":"file","z":"e62a4771.30bf38","name":"EventPerLine","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":690,"y":140,"wires":[]},{"id":"a47471e1.3fcf6","type":"comment","z":"e62a4771.30bf38","name":"<------ File Capture ----->","info":"\n\na-306h4b-vr03jn3nu4     XY3JMq574udiS_XUQ9","x":190,"y":60,"wires":[]},{"id":"6a64578.08bbda8","type":"comment","z":"e62a4771.30bf38","name":"306h4b","info":"File Node:\n\nWRITE\n-no directory goes to user home\n-msg.filename will not override node filename\n\n- test/file.json  writes to users ~/test\n- /test/file.json writes abolute path - persmission need to be set\n\n","x":870,"y":160,"wires":[]},{"id":"d5cad87c.b72c18","type":"inject","z":"e62a4771.30bf38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["7b2d6367.c1346c"]]},{"id":"dcf0e3c0.e4b2c","type":"function","z":"e62a4771.30bf38","name":"Set Filename","func":"//read in order - good for single device sim\n//var index = context.get('index')||0;\n\n//random file number good for multiple devices\nvar index = msg.payload;\n\n//dir is relative user home\nvar dir = \"data/democapture/\"\nvar file = \"event\" + index + \".json\"\n//node.warn(file)\n\nmsg.filename = dir + file;\nnode.warn(msg.filename)\n\nindex++;\ncontext.set('index', index);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["4439d9f4.a3ede8"]]},{"id":"440cbfd.7971d4","type":"comment","z":"e62a4771.30bf38","name":"<------ File Replay ----->","info":"","x":170,"y":320,"wires":[]},{"id":"fe7bdd11.377b5","type":"file in","z":"e62a4771.30bf38","name":"MsgPerLine","filename":"","format":"lines","chunk":false,"sendError":false,"x":630,"y":340,"wires":[["b252d953.dca818","2cd5d906.d0a706"]]},{"id":"b252d953.dca818","type":"debug","z":"e62a4771.30bf38","name":"File_Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":280,"wires":[]},{"id":"5e94ca94.1de7c4","type":"ibmiot in","z":"e62a4771.30bf38","authentication":"apiKey","apiKey":"18dd9b8c.d26744","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sensortag1","applicationId":"","deviceType":"TISensorNum","eventType":"status","commandType":"","format":"json","name":"TISensorNum  sensortag1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["1e1f0edf.8b6e51"]]},{"id":"1e1f0edf.8b6e51","type":"debug","z":"e62a4771.30bf38","name":"SUB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":60,"wires":[]},{"id":"ebd4cd97.be4ab","type":"inject","z":"e62a4771.30bf38","name":"xyz","topic":"","payload":"{\"d\":{\"x\":1,\"y\":2,\"z\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["5efc734.581f98c"]]},{"id":"7794432c.3fac9c","type":"wiotp out","z":"e62a4771.30bf38","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"8c0ae62a.3838a8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"noderedlocal","x":410,"y":700,"wires":[]},{"id":"5efc734.581f98c","type":"function","z":"e62a4771.30bf38","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["7794432c.3fac9c"]]},{"id":"4439d9f4.a3ede8","type":"file in","z":"e62a4771.30bf38","name":"MsgPerFile","filename":"","format":"utf8","chunk":false,"sendError":false,"x":630,"y":400,"wires":[["b252d953.dca818","6cd07fcf.d66e4"]]},{"id":"6d68698.f9e5d98","type":"wiotp out","z":"e62a4771.30bf38","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"6eb9f6cd.6aa228","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"noderedlocal2","x":1040,"y":340,"wires":[]},{"id":"7c4fc08c.dc0a5","type":"file","z":"e62a4771.30bf38","name":"EventPerFile","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":200,"wires":[]},{"id":"2cd5d906.d0a706","type":"function","z":"e62a4771.30bf38","name":"Blank Part msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":340,"wires":[["6d68698.f9e5d98"]]},{"id":"99899c21.c0655","type":"random","z":"e62a4771.30bf38","name":"","low":"1","high":"50","inte":"true","property":"payload","x":300,"y":400,"wires":[["dcf0e3c0.e4b2c"]]},{"id":"6cd07fcf.d66e4","type":"wiotp out","z":"e62a4771.30bf38","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7d65ce12.c32a1","deviceType":"","deviceId":"","event":"status","format":"json","qos":"","name":" sensortag1 num","x":840,"y":400,"wires":[]},{"id":"ba71bb1f.47aa68","type":"wiotp out","z":"e62a4771.30bf38","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"405e43d7.709f9c","deviceType":"","deviceId":"","event":"status","format":"json","qos":"","name":" sensortag2 num","x":840,"y":480,"wires":[]},{"id":"c83ee23d.765c4","type":"wiotp out","z":"e62a4771.30bf38","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"d7ee0c8.c5cabf","deviceType":"","deviceId":"","event":"status","format":"json","qos":"","name":" sensortag3 num","x":840,"y":540,"wires":[]},{"id":"78cc7215.8d57cc","type":"comment","z":"e62a4771.30bf38","name":"Test","info":"","x":1030,"y":280,"wires":[]},{"id":"d35cd651.87cb18","type":"comment","z":"e62a4771.30bf38","name":"Test","info":"","x":110,"y":660,"wires":[]},{"id":"9c9ef39a.61f06","type":"file in","z":"e62a4771.30bf38","name":"MsgPerFile","filename":"","format":"utf8","chunk":false,"sendError":false,"x":630,"y":480,"wires":[["ba71bb1f.47aa68","b252d953.dca818"]]},{"id":"89320b8e.56e0f8","type":"function","z":"e62a4771.30bf38","name":"Set Filename","func":"//read in order - good for single device sim\n//var index = context.get('index')||0;\n\n//random file number good for multiple devices\nvar index = msg.payload;\n\n//dir is relative user home\nvar dir = \"data/democapture/\"\nvar file = \"event\" + index + \".json\"\n//node.warn(file)\n\nmsg.filename = dir + file;\nnode.warn(msg.filename)\n\nindex++;\ncontext.set('index', index);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["9c9ef39a.61f06"]]},{"id":"cc20c5b3.4c4dd8","type":"random","z":"e62a4771.30bf38","name":"","low":"1","high":"50","inte":"true","property":"payload","x":300,"y":480,"wires":[["89320b8e.56e0f8"]]},{"id":"a489abc3.9204d8","type":"file in","z":"e62a4771.30bf38","name":"MsgPerFile","filename":"","format":"utf8","chunk":false,"sendError":false,"x":630,"y":540,"wires":[["c83ee23d.765c4","b252d953.dca818"]]},{"id":"6c3a9c09.bb5164","type":"function","z":"e62a4771.30bf38","name":"Set Filename","func":"//read in order - good for single device sim\n//var index = context.get('index')||0;\n\n//random file number good for multiple devices\nvar index = msg.payload;\n\n//dir is relative user home\nvar dir = \"data/democapture/\"\nvar file = \"event\" + index + \".json\"\n//node.warn(file)\n\nmsg.filename = dir + file;\nnode.warn(msg.filename)\n\nindex++;\ncontext.set('index', index);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":540,"wires":[["a489abc3.9204d8"]]},{"id":"7b2d6367.c1346c","type":"random","z":"e62a4771.30bf38","name":"","low":"1","high":"50","inte":"true","property":"payload","x":300,"y":540,"wires":[["6c3a9c09.bb5164"]]},{"id":"eca8c13b.46cdc","type":"comment","z":"e62a4771.30bf38","name":"capture new event using LI numeric","info":"","x":380,"y":220,"wires":[]},{"id":"9a7832cb.0b5fd","type":"comment","z":"e62a4771.30bf38","name":"create new sensor tag deviced LI numeric","info":"","x":500,"y":300,"wires":[]},{"id":"18dd9b8c.d26744","type":"ibmiot","z":"","name":"306h4b","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8c0ae62a.3838a8","type":"wiotp-credentials","z":"","name":"noderedlocal 306h4b","org":"306h4b","serverName":"","devType":"sim","devId":"noderedlocal","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6eb9f6cd.6aa228","type":"wiotp-credentials","z":"","name":"noderedlocal2 306h4b","org":"306h4b","serverName":"","devType":"sim","devId":"noderedlocal2","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"7d65ce12.c32a1","type":"wiotp-credentials","z":"","name":"TISensorNum sensortag1","org":"306h4b","serverName":"","devType":"TISensorNum","devId":"sensortag1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"405e43d7.709f9c","type":"wiotp-credentials","z":"","name":"TISensorNum sensortag2","org":"306h4b","serverName":"","devType":"TISensorNum","devId":"sensortag2","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"d7ee0c8.c5cabf","type":"wiotp-credentials","z":"","name":"TISensorNum sensortag3","org":"306h4b","serverName":"","devType":"TISensorNum","devId":"sensortag3","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
