flows/IoTP Onboard
[{"id":"c464c1d6.c3987","type":"device-manager","z":"57e7cf75.2fd14","auth":"api","name":"ADD Device","apiKey":"16c206f2.6adf39","deviceType":"ExitSign2","method":"Create","deviceId":"","password":"","ignore":false,"x":670,"y":220,"wires":[["f447c32f.2ddcb"]]},{"id":"59fd8917.5c5118","type":"device-type-manager","z":"57e7cf75.2fd14","auth":"api","name":"","apiKey":"16c206f2.6adf39","deviceType":"","classId":"Device","method":"Create","deviceTypeId":"ExitSign2","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[{"key":"manufacturer","value":"LuxCraft"},{"key":"model","value":"M1"},{"key":"hardwareVersion","value":"v1"},{"key":"firmwareVersion","value":"v1"}],"ignore":false,"x":420,"y":140,"wires":[["cc590856.5b5c08"]]},{"id":"beb72846.9da588","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":140,"wires":[["59fd8917.5c5118"]]},{"id":"cc590856.5b5c08","type":"debug","z":"57e7cf75.2fd14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":80,"wires":[]},{"id":"b9d09996.c330e8","type":"device-type-manager","z":"57e7cf75.2fd14","auth":"api","name":"Delete ","apiKey":"16c206f2.6adf39","deviceType":"ExitSign","classId":"Device","method":"Delete","deviceTypeId":"ExitSign","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[],"ignore":false,"x":790,"y":140,"wires":[["51775c7e.2a9bc4"]]},{"id":"1f9a8e9.de0dd71","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":140,"wires":[["b9d09996.c330e8"]]},{"id":"51775c7e.2a9bc4","type":"debug","z":"57e7cf75.2fd14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":120,"wires":[]},{"id":"e987f458.9272b8","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["2ab40715.77d588"]]},{"id":"4962e7e3.dac418","type":"function","z":"57e7cf75.2fd14","name":"Set Parms","func":"\n/*  \n    To maintain props from the device type they must not be present in payload.\n    \"manufacturer\": \"\",  will not work\n    \n    There ia a full payload reference at the bottom\n    \n*/\n\nvar p = msg.payload;\n\nmsg.payload = {\n        \"deviceId\": p.id,\n        \"authToken\": \"abc.def-ghi.jkl.mno-pqr.stu.vwx.yz\",\n        \"deviceInfo\": {\n            \"serialNumber\": p.id,\n        },\n        \n        \"metadata\": {\n            \"Building\": \"St. Francis\",\n            \"Wing\": \"East Tower\",\n            \"Floor\": \"19\",\n            \"Area\": \"Oncology North\"\n        }\n    };\n    \n    \nreturn msg;\n\n/* \n    Full payload reference\n*/\n/*\nmsg.payload = {\n        \"deviceId\": \"es3\",\n        \"authToken\": \"passw0rd\",\n        \"deviceInfo\": {\n            \"serialNumber\": \"string\",\n            \"manufacturer\": \"string\",\n            \"model\": \"string\",\n            \"deviceClass\": \"string\",\n            \"description\": \"string\",\n            \"fwVersion\": \"string\",\n            \"hwVersion\": \"string\",\n            \"descriptiveLocation\": \"string\"\n        },\n        \"location\": {\n            \"longitude\": 0,\n            \"latitude\": 0,\n            \"elevation\": 0,\n            \"accuracy\": 0,\n            \"measuredDateTime\": \"2016-08-07T18:50:51.553Z\"\n        },\n        \"metadata\": {}\n    };\n*/    ","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["c464c1d6.c3987"]]},{"id":"2ab40715.77d588","type":"function","z":"57e7cf75.2fd14","name":"GetVal","func":"\nmsg.payload = {\"id\": \"es1\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["4962e7e3.dac418"]]},{"id":"f447c32f.2ddcb","type":"debug","z":"57e7cf75.2fd14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":220,"wires":[]},{"id":"c00d1a3e.3d5568","type":"device-type-manager","z":"57e7cf75.2fd14","auth":"api","name":"List Types","apiKey":"16c206f2.6adf39","deviceType":"","classId":"Device","method":"GetAll","deviceTypeId":"ExitSign","serialNumber":"","manufacturer":"","model":"","deviceClass":"","infoDescription":"","firmwareVersion":"","hardwareVersion":"","descriptiveLocation":"","metadata":"","password":"","properties":[{"key":"manufacturer","value":"LuxCraft"},{"key":"model","value":"M1"},{"key":"hardwareVersion","value":"v1"},{"key":"firmwareVersion","value":"v1"}],"ignore":false,"x":320,"y":80,"wires":[["cc590856.5b5c08"]]},{"id":"5e17c2d5.5bebdc","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["c00d1a3e.3d5568"]]},{"id":"7367a3db.8700ac","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":180,"wires":[["6cfe5c83.af57f4"]]},{"id":"6cfe5c83.af57f4","type":"device-manager","z":"57e7cf75.2fd14","auth":"api","name":"List","apiKey":"16c206f2.6adf39","deviceType":"ExitSign2","method":"GetAll","deviceId":"","password":"","ignore":false,"x":670,"y":180,"wires":[["f447c32f.2ddcb"]]},{"id":"d4e38797.200aa8","type":"file in","z":"57e7cf75.2fd14","name":"","filename":"","format":"lines","sendError":true,"x":450,"y":380,"wires":[["88e64bf2.367078","a5f338f4.b8af88"]]},{"id":"8cb76069.c9172","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143.5,"y":381,"wires":[["575cca1e.b8a704"]]},{"id":"575cca1e.b8a704","type":"function","z":"57e7cf75.2fd14","name":"Set filename","func":"/*\nvar i = context.get('i')||0;\n//msg.filename = \"solarjack0.json\";\n//msg.filename = \"solarjack\" + i + \".json\";\ni++;\ncontext.set('i',i);\n*/\n\nvar path = \"/users/ddd/\";\nvar file =\"exitsign\";\nmsg.filename = path + file;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":308.5,"y":380,"wires":[["d4e38797.200aa8"]]},{"id":"84b5da8.38e9028","type":"debug","z":"57e7cf75.2fd14","name":"REG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":340,"wires":[]},{"id":"62b7c47b.de40cc","type":"device-manager","z":"57e7cf75.2fd14","auth":"api","name":"ADD Device","apiKey":"16c206f2.6adf39","deviceType":"ExitSign","method":"Create","deviceId":"","password":"","ignore":false,"x":950,"y":380,"wires":[["84b5da8.38e9028"]]},{"id":"128e1cf1.d2d273","type":"function","z":"57e7cf75.2fd14","name":"Set Parms","func":"\n/*  \n    To maintain props from the device type they must not be present in payload.\n    \"manufacturer\": \"\",  will not work\n    \n    There is a full payload reference at the bottom\n    \n*/\n\nvar p = msg.payload;\n//node.warn(\"p:\"+p);\n//node.warn(\"id:\"+p.id);\nif(p === \"\") return;        //take care of EOF blank line. Should be done before JSON\n  \n\nmsg.payload = {\n        \"deviceId\": p.id,\n        \"authToken\": \"abc.def-ghi.jkl.mno-pqr.stu.vwx.yz\",\n        \"deviceInfo\": {\n            \"serialNumber\": p.id,\n        },\n        \n        \"metadata\": {\n            \"Building\": p.building,\n            \"Wing\": p.wing,\n            \"Floor\": p.floor,\n            \"Area\": p.area\n        }\n    };\n    \n    \nreturn msg;\n\n/* \n    Full payload reference\n*/\n/*\nmsg.payload = {\n        \"deviceId\": \"es3\",\n        \"authToken\": \"passw0rd\",\n        \"deviceInfo\": {\n            \"serialNumber\": \"string\",\n            \"manufacturer\": \"string\",\n            \"model\": \"string\",\n            \"deviceClass\": \"string\",\n            \"description\": \"string\",\n            \"fwVersion\": \"string\",\n            \"hwVersion\": \"string\",\n            \"descriptiveLocation\": \"string\"\n        },\n        \"location\": {\n            \"longitude\": 0,\n            \"latitude\": 0,\n            \"elevation\": 0,\n            \"accuracy\": 0,\n            \"measuredDateTime\": \"2016-08-07T18:50:51.553Z\"\n        },\n        \"metadata\": {}\n    };\n*/    ","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["573a4d9b.4d74c4","62b7c47b.de40cc"]]},{"id":"88e64bf2.367078","type":"debug","z":"57e7cf75.2fd14","name":"FILE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":320,"wires":[]},{"id":"573a4d9b.4d74c4","type":"debug","z":"57e7cf75.2fd14","name":"PARMS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":320,"wires":[]},{"id":"a5f338f4.b8af88","type":"json","z":"57e7cf75.2fd14","name":"","property":"payload","action":"","pretty":false,"x":590,"y":380,"wires":[["128e1cf1.d2d273"]]},{"id":"b765debb.1b275","type":"device-manager","z":"57e7cf75.2fd14","auth":"bluemix","name":"","deviceType":"","method":"GetAll","deviceId":"","password":"","ignore":false,"x":560,"y":460,"wires":[["2d19da20.1b53d6"]]},{"id":"2d19da20.1b53d6","type":"debug","z":"57e7cf75.2fd14","name":"DEV OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":460,"wires":[]},{"id":"6a21f46d.f3f4dc","type":"inject","z":"57e7cf75.2fd14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":460,"wires":[["b765debb.1b275"]]},{"id":"e51aa2b3.106cd","type":"comment","z":"57e7cf75.2fd14","name":"","info":"a-l87ezs-cemp8skrkj\n\n()L@pnFv(0Gjey9hY+","x":80,"y":40,"wires":[]},{"id":"16c206f2.6adf39","type":"wiotp","z":"","name":"l87ezs"}]
