flows/Rules_Actions
[{"id":"eb4c3edc.e2ff3","type":"http in","z":"e2afa223.bbacc","name":"listener","url":"/listener/senddata","method":"post","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["a9e03ab1.2a4168","5eb8cc22.dd8344"]]},{"id":"a9e03ab1.2a4168","type":"debug","z":"e2afa223.bbacc","name":"REQ2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":440,"wires":[]},{"id":"cb8e45ea.9428b8","type":"http response","z":"e2afa223.bbacc","name":"","statusCode":"","headers":{},"x":690,"y":520,"wires":[]},{"id":"d939ac72.5493b","type":"function","z":"e2afa223.bbacc","name":"echo","func":"\nnode.warn(flow.get(\"receiver\"));\nflow.set(\"receiver\",\"CLEAR\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["9f48ec23.97be4","cb8e45ea.9428b8"]]},{"id":"9f48ec23.97be4","type":"debug","z":"e2afa223.bbacc","name":"RES2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":460,"wires":[]},{"id":"8a94c126.e6ea8","type":"http in","z":"e2afa223.bbacc","name":"test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["a9e03ab1.2a4168","d939ac72.5493b"]]},{"id":"1d0df73f.e567e9","type":"comment","z":"e2afa223.bbacc","name":"LIstener","info":"","x":90,"y":420,"wires":[]},{"id":"5de7f1f0.13936","type":"comment","z":"e2afa223.bbacc","name":"Action","info":"dummy       5d8a8f74293575001e3d62bb (delete)\nlistener    5d8a9f77852368001d02acf6\nlistener2   5d8aa0da293575001e3d62bf\nbasic       5d8cb22d293575001e3d6337\nbasic2      5d8e0fc0082844001f8018ec","x":90,"y":760,"wires":[]},{"id":"7721d208.93bdbc","type":"inject","z":"e2afa223.bbacc","name":"DEFINE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["2196f21e.59f7ee"]]},{"id":"2196f21e.59f7ee","type":"function","z":"e2afa223.bbacc","name":"BasicActionListener 1&2","func":"msg.method = \"POST\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions\";\n\n/*\nmsg.payload = {\n    \"name\": \"BasicActionListener\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n};*/\n\nmsg.payload = {\n    \"name\": \"BasicActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener2/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"Rule\\\" : \\\"{{ruleName}}\\\", \\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n};\n\n/*   remove  device header - doc is bad - hast o be removed on trigger mapping too.\nmsg.payload = {\n    \"name\": \"BasicActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener2/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"Rule\\\" : \\\"{{ruleName}}\\\", \\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n}; */\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":920,"wires":[["f1b742e0.043d4"]]},{"id":"f1b742e0.043d4","type":"http request","z":"e2afa223.bbacc","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":900,"wires":[["ccb31d66.40866"]]},{"id":"1fa578c4.b14577","type":"debug","z":"e2afa223.bbacc","name":"A ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":800,"wires":[]},{"id":"ccb31d66.40866","type":"json","z":"e2afa223.bbacc","name":"","property":"payload","action":"","pretty":false,"x":730,"y":800,"wires":[["1fa578c4.b14577"]]},{"id":"4b16aa7a.52b694","type":"function","z":"e2afa223.bbacc","name":"","func":"// node wont acept method override with GET?\n//msg.method = \"GET\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions\";   \n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":800,"wires":[["80a5c3a3.8ad6"]]},{"id":"a542f86.09c2708","type":"inject","z":"e2afa223.bbacc","name":"DEL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1020,"wires":[["76a4bc25.2cc084"]]},{"id":"c84a809f.5c4e2","type":"inject","z":"e2afa223.bbacc","name":"LIST ALL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":800,"wires":[["4b16aa7a.52b694"]]},{"id":"80a5c3a3.8ad6","type":"http request","z":"e2afa223.bbacc","name":"GET","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":390,"y":800,"wires":[["ccb31d66.40866"]]},{"id":"76a4bc25.2cc084","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"DELETE\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6\";\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1020,"wires":[["f1b742e0.043d4"]]},{"id":"7099e54f.6df49c","type":"inject","z":"e2afa223.bbacc","name":"PATCH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1060,"wires":[["92481b31.7bc8d8"]]},{"id":"92481b31.7bc8d8","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"PATCH\";\n//listener\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6\";\n\nmsg.payload = {\n  \"operation\": \"invoke-action\",\n  \"variables\": {\n    //\"someId\": \"bob\",\n    \"somevalue\": \"oranges\",\n    \"deviceIntHeader\": \"device-version\",\n    \"intValue\": 2,\n    \"someInt\": 42,\n    \"someString\": \"apples\"\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1060,"wires":[["f1b742e0.043d4"]]},{"id":"45ebf538.c6a2ec","type":"inject","z":"e2afa223.bbacc","name":"DEF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":880,"wires":[["b278160b.17f268"]]},{"id":"b278160b.17f268","type":"function","z":"e2afa223.bbacc","name":"ActionListener2","func":"msg.method = \"POST\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions\";\n\nmsg.payload = {\n  \"name\": \"ActionListener2\",\n  \"type\": \"webhook\",\n  \"description\": \"post message to URL in NodeRED\",\n  \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener\",\n\t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"mycustomheader\",\n        \t\t\"value\" : \"{{somevalue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n    \"body\" : \"{\\\"specialIntValue\\\" : {{someInt}}, \\\"someStringValue\\\": \\\"{{someString}}\\\"}\"\n  },\n  \"enabled\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":880,"wires":[["f1b742e0.043d4"]]},{"id":"6f3fbe3.71e814","type":"inject","z":"e2afa223.bbacc","name":"PATCH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1100,"wires":[["ea5a7d33.de73f"]]},{"id":"ea5a7d33.de73f","type":"function","z":"e2afa223.bbacc","name":"2 & Basic","func":"msg.method = \"PATCH\";\n//listener2\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8aa0da293575001e3d62bf\";  //listener2\n//basicListener\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8cb22d293575001e3d6337\";  //basic\n//basiclistener2\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8e0fc0082844001f8018ec\";  //basic2\n\n\nmsg.payload = {\n  \"operation\": \"invoke-action\",\n  \"variables\": {\n    \"deviceId\": \"abc\",\n    \"logicalInterfaceId\": \"123456789\",\n    \"event\": \"EVENT\",\n    \"state\": \"STATE\"\n  }\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1100,"wires":[["f1b742e0.043d4"]]},{"id":"f1eb18c.19809e8","type":"comment","z":"e2afa223.bbacc","name":"Trigger","info":"dummy       5d8a8f74293575001e3d62bb\nlistener    5d8a9f77852368001d02acf6\nlistener2   5d8aa0da293575001e3d62bf\n\nbasic       5d8cb22d293575001e3d6337\n                z low\nbasic2      5d8e0fc0082844001f8018ec\n                z high","x":90,"y":1300,"wires":[]},{"id":"119db8d6.186537","type":"inject","z":"e2afa223.bbacc","name":"LIST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":840,"wires":[["dbcfbe4e.b3042"]]},{"id":"dbcfbe4e.b3042","type":"function","z":"e2afa223.bbacc","name":"","func":"//msg.method = \"GET\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8e0fc0082844001f8018ec\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":840,"wires":[["80a5c3a3.8ad6"]]},{"id":"530c6b74.8c2934","type":"inject","z":"e2afa223.bbacc","name":"UPD2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1200,"wires":[["ec827a27.4ac248"]]},{"id":"ec827a27.4ac248","type":"function","z":"e2afa223.bbacc","name":"AL2","func":"msg.method = \"PUT\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d9392a1e01ca2001f85b7b5\";\n\nmsg.payload = {\n    \"id\": \"5d9392a1e01ca2001f85b7b5\",\n    \"name\": \"EVENT\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/event\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\n\t\t\"body\" : \"{\\\"EVENT Action Notification\\\" : \\\"{{e}}\\\"}\"\n    },\n    \"enabled\": true\n};\n\n/*\nmsg.payload = {\n    \"id\": \"5d8aa0da293575001e3d62bf\",\n    \"name\": \"ActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/{{deviceId}}/senddata\",\n  \t\t//\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/deviceId/senddata\",\n  \t\t//\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/senddata\",\n\t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n};*/\n\n/*\nmsg.payload = {\n    \"id\": \"5d8cb22d293575001e3d6337\",\n    \"name\": \"BasicActionListener\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n}; */\n\n/*\nmsg.payload = {\n    \"id\": \"5d8e0fc0082844001f8018ec\",\n    \"name\": \"BasicActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener2/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"Event\\\" : \\\"{{event}}\\\", \\\"State\\\" : \\\"{{state}}\\\"}\"\n    },\n    \"enabled\": true\n};*/\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1200,"wires":[["f1b742e0.043d4"]]},{"id":"c4e762f3.d972b","type":"inject","z":"e2afa223.bbacc","name":"DEFINE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1540,"wires":[["4c463a28.ce3e34"]]},{"id":"4c463a28.ce3e34","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"POST\";\n//dummy action\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a8f74293575001e3d62bb/triggers\";\n//listener\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6/triggers\";\n\n\nmsg.payload = {\n  \"name\": \"X High Trigger\",\n  \"type\": \"rule\",\n  \"description\": \"trigger if x value is high\",\n  \"configuration\": {\n        \"logicalInterfaceId\": \"5d892686c8fcd4001e753a67\",\n    \t\"ruleId\": \"5d8a6498abb31e001eae3fba\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n  },\n  \"variableMappings\": {\n    \"someId\": \"$event.instanceId\",\n    \"somevalue\": \"$event.logicalInterfaceId\",\n    \"deviceIntHeader\": \"device-version\",\n    \"intValue\": \"$event.state.version\",\n    \"someInt\": \"$event.state.x\",\n    \"someString\": \"$event.ruleId\"\n  },\n  \"enabled\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1540,"wires":[["5f09560d.09fc38"]]},{"id":"444ad0d7.0e0a8","type":"debug","z":"e2afa223.bbacc","name":"T","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1300,"wires":[]},{"id":"70a5f3af.74230c","type":"json","z":"e2afa223.bbacc","name":"","property":"payload","action":"","pretty":false,"x":630,"y":1300,"wires":[["444ad0d7.0e0a8"]]},{"id":"9aa89c97.c31c1","type":"http request","z":"e2afa223.bbacc","name":"GET","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":510,"y":1320,"wires":[["70a5f3af.74230c"]]},{"id":"5f09560d.09fc38","type":"http request","z":"e2afa223.bbacc","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":470,"y":1540,"wires":[["49771a88.3d4a24"]]},{"id":"b9529252.f0d1c","type":"function","z":"e2afa223.bbacc","name":"","func":"// node wont acept method override with GET?\n//msg.method = \"GET\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8e0fc0082844001f8018ec/triggers/5d93826f49205800208863fd\";   \n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1400,"wires":[["9aa89c97.c31c1"]]},{"id":"fdea15ab.20bd48","type":"inject","z":"e2afa223.bbacc","name":"LIST 1 T","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1400,"wires":[["b9529252.f0d1c"]]},{"id":"78d37b9f.d71d44","type":"inject","z":"e2afa223.bbacc","name":"UPD","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1760,"wires":[["60841cd9.6ee9c4"]]},{"id":"60841cd9.6ee9c4","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"PUT\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8e0fc0082844001f8018ec/triggers/5d937adbe01ca2001f85b7b4\";\n\nmsg.payload = {\n    \"id\":\"5d937adbe01ca2001f85b7b4\",\n    \"name\": \"Z High Trigger\",\n    \"type\": \"rule\",\n    \"description\": \"trigger if z value is High\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d8e127473f126001e95ba42\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        \"deviceId\": \"$event.instanceId\",\n        \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n        \"event\": \"$event\",\n        \"state\": \"$event.state\"\n    },\n  \"enabled\": true,\n}; \n/*\nmsg.payload = {\n    \"id\":\"5d8b6fc2dacfe1001f89cc9c\",\n    \"name\": \"X High \",\n    \"type\": \"rule\",\n    \"description\": \"trigger if x value is high\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d892686c8fcd4001e753a67\",\n    \t\"ruleId\": \"5d8a6498abb31e001eae3fba\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        \"deviceId\": \"$event.instanceId\",\n        \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n        \"deviceIntHeader\": \"device-version\",\n        \"intValue\": \"$event.state.version\",\n        \"condition\": \"$event.ruleCondition\",\n     \"value\": \"$event.state.x\",\n     \"ruleId\": \"$event.ruleId\"\n    },\n    \"enabled\": true\n}; */ \n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1760,"wires":[["5f09560d.09fc38"]]},{"id":"a5a0fb7c.497f18","type":"inject","z":"e2afa223.bbacc","name":"DEL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1720,"wires":[["83fbfa8e.3b0328"]]},{"id":"83fbfa8e.3b0328","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"DELETE\";\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6/triggers/5d8b6fc2dacfe1001f89cc9c\";\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a8f74293575001e3d62bb/triggers/5d8b6f0d852368001d02acfd\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d9392a1e01ca2001f85b7b5/triggers/5d94980e082844001f8018f0\";\n\nreturn msg;\n\n//DUmmy 5d8a8f74293575001e3d62bb\n//T 5d8b6f0d852368001d02acfd","outputs":1,"noerr":0,"x":290,"y":1720,"wires":[["5f09560d.09fc38"]]},{"id":"dafc5933.aa3408","type":"http in","z":"e2afa223.bbacc","name":"listener2","url":"/listener/:deviceId/senddata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":560,"wires":[["a9e03ab1.2a4168","95ae80b.f0bb68"]]},{"id":"86c1f73e.2bc028","type":"inject","z":"e2afa223.bbacc","name":"DEF2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1580,"wires":[["d2400319.3ed8a"]]},{"id":"d2400319.3ed8a","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"POST\";\n//dummy action\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a8f74293575001e3d62bb/triggers\";\n//listener\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6/triggers\";\n//listener2\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8aa0da293575001e3d62bf/triggers\";\n\n\nmsg.payload = {\n  \"name\": \"X High Trigger2\",\n  \"type\": \"rule\",\n  \"description\": \"trigger if x value is high\",\n  \"configuration\": {\n        \"logicalInterfaceId\": \"5d892686c8fcd4001e753a67\",\n    \t\"ruleId\": \"5d8a6498abb31e001eae3fba\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n  },\n  \"variableMappings\": {\n    \"deviceId\": \"$event.instanceId\",\n    \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n    \"deviceIntHeader\": \"device-version\",\n    \"intValue\": \"$event.state.version\",\n    \"condition\": \"$event.ruleCondition\",\n    \"value\": \"$event.state.x\",\n    \"ruleId\": \"$event.ruleId\"\n  },\n  \"enabled\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1580,"wires":[["5f09560d.09fc38"]]},{"id":"7c15c0e0.e5961","type":"inject","z":"e2afa223.bbacc","name":"DEF","topic":"","payload":"5d8e0fc0082844001f8018ec","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1620,"wires":[["5e4c2f78.d6354"]]},{"id":"5e4c2f78.d6354","type":"function","z":"e2afa223.bbacc","name":"Z BAL2","func":"msg.method = \"POST\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/\" +msg.payload+ \"/triggers\";\n\nmsg.payload = \n{\n    \"name\": \"Z High Trigger\",\n    \"type\": \"rule\",\n    \"description\": \"trigger if z value is High\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d8e127473f126001e95ba42\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        \"deviceId\": \"$event.instanceId\",\n        \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n        \"event\": \"$event\",\n        \"state\": \"$event.state\"\n    },\n  \"enabled\": true,\n}; \n/*\nmsg.payload = \n  {\n  \"name\": \"Z Low Trigger\",\n  \"type\": \"rule\",\n  \"description\": \"trigger if z value is low\",\n  \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d8cb890abb31e001eae4009\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n  },\n  \"variableMappings\": {\n    \"deviceId\": \"$event.instanceId\",\n    \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n    \"deviceIntHeader\": \"device-version\",\n    \"intValue\": \"$event.state.version\",\n    \"condition\": \"$event.ruleCondition\",\n    \"value\": \"$event.state.x\",\n    \"ruleId\": \"$event.ruleId\"\n  },\n  \"enabled\": true\n};*/\n/*\nmsg.payload = \n{\n  \"name\": \"Z High Trigger\",\n  \"type\": \"rule\",\n  \"description\": \"trigger if z value is High\",\n  \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d8e127473f126001e95ba42\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n  },\n  \"variableMappings\": {\n    \"ruleName\": \"$event.ruleName\",\n    \"deviceId\": \"$event.instanceId\",\n    \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n    \"deviceIntHeader\": \"device-version\",\n    \"intValue\": \"$event.state.version\",\n    \"condition\": \"$event.ruleCondition\",\n    \"value\": \"$event.state.x\",\n    \"ruleId\": \"$event.ruleId\"\n  },\n  \"enabled\": true\n}; */\n\n/*   strig literal error in doc on header\nmsg.payload = \n{\n  \"name\": \"Z High Trigger\",\n  \"type\": \"rule\",\n  \"description\": \"trigger if z value is High\",\n  \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d8e127473f126001e95ba42\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n  },\n  \"variableMappings\": {\n    \"ruleName\": \"$event.ruleName\",\n    \"deviceId\": \"$event.instanceId\",\n    \"logicalInterfaceId\": \"$event.logicalInterfaceId\",\n    //\"deviceIntHeader\": \"device-version\",    // \"'device-version'\",\n    //\"intValue\": \"$event.state.version\",\n    \"condition\": \"$event.ruleCondition\",\n    \"value\": \"$event.state.x\",\n    \"ruleId\": \"$event.ruleId\"\n  },\n  \"enabled\": true\n}; */\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1620,"wires":[["5f09560d.09fc38"]]},{"id":"5eb8cc22.dd8344","type":"change","z":"e2afa223.bbacc","name":"recv","rules":[{"t":"set","p":"receiver","pt":"flow","to":"listener","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["d939ac72.5493b"]]},{"id":"95ae80b.f0bb68","type":"change","z":"e2afa223.bbacc","name":"recv","rules":[{"t":"set","p":"receiver","pt":"flow","to":"listener2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":560,"wires":[["d939ac72.5493b"]]},{"id":"ae8e4e4a.62ee2","type":"inject","z":"e2afa223.bbacc","name":"UPD1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1160,"wires":[["92328d18.eaebf"]]},{"id":"92328d18.eaebf","type":"function","z":"e2afa223.bbacc","name":"","func":"msg.method = \"PUT\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8a9f77852368001d02acf6\";\n\nmsg.payload = {\n    \"id\": \"5d8a9f77852368001d02acf6\",\n    \"name\": \"ActionListener\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/senddata\",\n\t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"mycustomheader\",\n        \t\t\"value\" : \"{{somevalue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n    \"body\" : \"{\\\"specialIntValue\\\" : {{someInt}}, \\\"someStringValue\\\": \\\"{{someString}}\\\"}\"\n    },\n    \"enabled\": true\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1160,"wires":[["f1b742e0.043d4"]]},{"id":"528467eb.3ed598","type":"http in","z":"e2afa223.bbacc","name":"/listener/:deviceId","url":"/listener/:deviceId","method":"post","upload":false,"swaggerDoc":"","x":110,"y":600,"wires":[["e35296cd.a6ad18","a9e03ab1.2a4168"]]},{"id":"e35296cd.a6ad18","type":"change","z":"e2afa223.bbacc","name":"recv","rules":[{"t":"set","p":"receiver","pt":"flow","to":"basic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["d939ac72.5493b","271ace7e.30e0b2","b9ca88fe.be8868"]]},{"id":"85f5f2f1.c2c67","type":"inject","z":"e2afa223.bbacc","name":"LIST All","topic":"","payload":"5d9392a1e01ca2001f85b7b5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["2fa6fd74.7dd9d2"]]},{"id":"2fa6fd74.7dd9d2","type":"function","z":"e2afa223.bbacc","name":"","func":"// node wont acept method override with GET?\n//msg.method = \"GET\";\n\n//listener  5d8a9f77852368001d02acf6\n//listener2 5d8aa0da293575001e3d62bf\n//basic 5d8cb22d293575001e3d6337\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d8cb22d293575001e3d6337/triggers\"; \nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/\" +msg.payload+ \"/triggers\";\n//node.warn(msg.url);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1360,"wires":[["9aa89c97.c31c1"]]},{"id":"49771a88.3d4a24","type":"debug","z":"e2afa223.bbacc","name":"Def T RESP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1540,"wires":[]},{"id":"28388a20.60f916","type":"twilio out","z":"e2afa223.bbacc","service":"_ext_","twilio":"3506c9fa.afd886","from":"","number":"4128554518","name":"Send SMS","x":1090,"y":220,"wires":[]},{"id":"b9bd1252.66095","type":"inject","z":"e2afa223.bbacc","name":"","topic":"","payload":"Hello Twitter !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":660,"wires":[["67137b41.3b9234"]]},{"id":"271ace7e.30e0b2","type":"debug","z":"e2afa223.bbacc","name":"ALERT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":580,"wires":[]},{"id":"b9ca88fe.be8868","type":"function","z":"e2afa223.bbacc","name":"","func":" \nmsg.payload = msg.req.headers.from;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":620,"wires":[["fb2ec253.6ca3","9f48ec23.97be4"]]},{"id":"fb2ec253.6ca3","type":"debug","z":"e2afa223.bbacc","name":"DBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":580,"wires":[]},{"id":"6ad3d82d.091868","type":"http in","z":"e2afa223.bbacc","name":"/listener2/:deviceId","url":"/listener2/:deviceId","method":"post","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["f1884059.db185","a9e03ab1.2a4168"]]},{"id":"f1884059.db185","type":"change","z":"e2afa223.bbacc","name":"recv","rules":[{"t":"set","p":"receiver","pt":"flow","to":"basic2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":660,"wires":[["271ace7e.30e0b2","b9ca88fe.be8868"]]},{"id":"e33ee5ff.7ea2b8","type":"e-mail","z":"e2afa223.bbacc","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ne3rdne7th@gmail.com","dname":"Send Email","x":1050,"y":280,"wires":[]},{"id":"c19c57a9.b26468","type":"twitter out","z":"e2afa223.bbacc","twitter":"","name":"IoTP Notify","x":930,"y":660,"wires":[]},{"id":"1db49d9a.adfc32","type":"twitter in","z":"e2afa223.bbacc","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":1070,"y":660,"wires":[["3015137b.d232dc"]]},{"id":"3015137b.d232dc","type":"debug","z":"e2afa223.bbacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":660,"wires":[]},{"id":"67137b41.3b9234","type":"function","z":"e2afa223.bbacc","name":"","func":" \nmsg.payload = \"Hello Tweet from Node-RED\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["c19c57a9.b26468"]]},{"id":"66684367.f1cafc","type":"inject","z":"e2afa223.bbacc","name":"","topic":"","payload":"Hello World !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":320,"wires":[["e33ee5ff.7ea2b8"]]},{"id":"e71b97c4.09a668","type":"inject","z":"e2afa223.bbacc","name":"LIST AL2","topic":"","payload":"5d8aa0da293575001e3d62bf","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1400,"wires":[["2fa6fd74.7dd9d2"]]},{"id":"eb907a3b.a75d58","type":"inject","z":"e2afa223.bbacc","name":"LIST BAL","topic":"","payload":"5d8cb22d293575001e3d6337","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1440,"wires":[["2fa6fd74.7dd9d2"]]},{"id":"c662cb78.602fa8","type":"inject","z":"e2afa223.bbacc","name":"DEFINE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":960,"wires":[["e67ce49c.219d08"]]},{"id":"e67ce49c.219d08","type":"function","z":"e2afa223.bbacc","name":"DUMMY","func":"msg.method = \"POST\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions\";\n\n/* try update first\nmsg.payload = {\n    \"name\": \"EVENT\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/dummy\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\n\t\t\"body\" : \"{\\\"EVENT Action Notification\\\" : \\\"{{e}}\\\"}\"\n    },\n    \"enabled\": true\n}; */\n\n\t\nmsg.payload = {\n    \"name\": \"EVENT\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/dummy\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\n\t\t\"body\" : \"{\\\"EVENT Action Notification\\\" : \\\"{{e}}\\\"}\"\n    },\n    \"enabled\": true\n};\n\n/*\nmsg.payload = {\n    \"name\": \"DUMMY\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/dummy\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\n\t\t\"body\" : \"{\\\"DUMMY Action Notification\\\" : \\\"{{s}}\\\"}\"\n    },\n    \"enabled\": true\n}; */\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":960,"wires":[["f1b742e0.043d4"]]},{"id":"fdaa7c7c.f7bee","type":"inject","z":"e2afa223.bbacc","name":"PATCH","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1000,"wires":[["71291b66.5cb604"]]},{"id":"71291b66.5cb604","type":"function","z":"e2afa223.bbacc","name":"TEST","func":"msg.method = \"PATCH\";\n//msg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d938ece082844001f8018ee\";    //dummy\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d9392a1e01ca2001f85b7b5\";    //event\n\n\nmsg.payload = {\n  \"operation\": \"invoke-action\",\n  \"variables\": {\n      \"e\": \"TEST\"\n  }\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1000,"wires":[["f1b742e0.043d4"]]},{"id":"ff975513.cf9018","type":"http in","z":"e2afa223.bbacc","name":"dummy","url":"/dummy","method":"post","upload":false,"swaggerDoc":"","x":230,"y":440,"wires":[["a9e03ab1.2a4168","d939ac72.5493b"]]},{"id":"e939c19b.72f1c","type":"inject","z":"e2afa223.bbacc","name":"DEF","topic":"","payload":"5d9392a1e01ca2001f85b7b5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1620,"wires":[["d2cca058.0a67b"]]},{"id":"d2cca058.0a67b","type":"function","z":"e2afa223.bbacc","name":"DUMMY","func":"msg.method = \"POST\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/\" +msg.payload+ \"/triggers\";\n\nmsg.payload = \n{\n    \"name\": \"EVENT Trigger z equal 9\",\n    \"type\": \"rule\",\n    \"description\": \"trigger if z equals 9\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d977993690d210020ee2125\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        \"alertMessage\": \"'SEV1: Prime generator failure'\",\n        \"severity\": \"'HIGH'\",\n        \"e\": \"$event\"\n    },\n  \"enabled\": true,\n};\n/*\nmsg.payload = \n{\n    \"name\": \"EVENT Trigger\",\n    \"type\": \"rule\",\n    \"description\": \"trigger if z equals 7\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d9393b873f126001e95bbf7\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        //\"e\": \"$event.ruleCondition\"\n        //\"e\": \"$instance.clientId\"   // $instance not avail\n        \"alertMessage\": \"'Lights out on the Loading Dock'\",\n        \"severity\": \"'MEDIUM'\",\n        \"e\": \"$event\"\n    },\n  \"enabled\": true,\n};*/\n/*\nmsg.payload = \n{\n    \"name\": \"DUMMY Trigger\",\n    \"type\": \"rule\",\n    \"description\": \"trigger if z equals 99\",\n    \"configuration\": {\n        \"logicalInterfaceId\": \"5d8cb7f8abb31e001eae4007\",\n    \t\"ruleId\": \"5d9390cc690d210020ee1eb9\",\n        \"type\": \"*\",\n        \"typeId\": \"*\",\n    \t\"instanceId\": \"*\"\n    },\n    \"variableMappings\": {\n        \"s\": \"'Go Man Go'\"\n    },\n  \"enabled\": true,\n}; */\n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1620,"wires":[["5f09560d.09fc38"]]},{"id":"9bb8465f.1afcc8","type":"http in","z":"e2afa223.bbacc","name":"/moved2UI","url":"/moved2UI","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["1cce64cd.47432b","72a427fe.82ba48"]]},{"id":"22a785b3.4e3a3a","type":"inject","z":"e2afa223.bbacc","name":"UPDATE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":1040,"wires":[["17fc18eb.385787"]]},{"id":"17fc18eb.385787","type":"function","z":"e2afa223.bbacc","name":"EVT","func":"msg.method = \"PUT\";\nmsg.url = \"https://306h4b.internetofthings.ibmcloud.com/api/v0002/actions/5d9392a1e01ca2001f85b7b5\";\n\nmsg.payload = {\n    \"id\": \"5d9392a1e01ca2001f85b7b5\",\n    \"name\": \"EVENT\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/event\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"AlertMessage\",\n        \t\t\"value\" : \"{{alertMessage}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"Severity\",\n        \t\t\"value\" : \"{{severity}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"IoT@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\n\t\t//\"body\" : \"{\\\"EVENT Action Notification\\\" : \\\"{{e}}\\\"}\"\n\t\t//\"body\" : \"{\\\"EVENT Action Notification\\\" : \\\"{{{e}}}\\\"}\"\n\t\t\"body\" :  \"{{{e}}}\"\n    },\n    \"enabled\": true\n};\n\n/*\nmsg.payload = {\n    \"id\": \"5d8aa0da293575001e3d62bf\",\n    \"name\": \"ActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/{{deviceId}}/senddata\",\n  \t\t//\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/deviceId/senddata\",\n  \t\t//\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/senddata\",\n\t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n};*/\n\n/*\nmsg.payload = {\n    \"id\": \"5d8cb22d293575001e3d6337\",\n    \"name\": \"BasicActionListener\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"{{deviceIntHeader}}\",\n        \t\t\"value\" : \"{{intValue}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"DeviceId\\\" : \\\"{{deviceId}}\\\", \\\"Condition\\\" : \\\"{{condition}}\\\", \\\"Value\\\" : {{value}}, \\\"RuleId\\\": \\\"{{ruleId}}\\\"}\"\n    },\n    \"enabled\": true\n}; */\n\n/*\nmsg.payload = {\n    \"id\": \"5d8e0fc0082844001f8018ec\",\n    \"name\": \"BasicActionListener2\",\n    \"type\": \"webhook\",\n    \"description\": \"post message to URL in NodeRED\",\n    \"configuration\": {\n  \t\t\"targetUrl\": \"http://iotp-2019.mybluemix.net/listener2/{{deviceId}}\",\n  \t\t\"method\": \"POST\",\n\t\t\"contentType\": \"application/json\",\n\t\t\"headers\" : [\n      \t\t{\n        \t\t\"name\" : \"LogicalInterfaceId\",\n        \t\t\"value\" : \"{{logicalInterfaceId}}\"\n      \t\t},\n      \t\t{\n        \t\t\"name\" : \"From\",\n        \t\t\"value\" : \"john.doe@us.ibm.com\"\n      \t\t}\n    \t],\n\t\t\"body\" : \"{\\\"Event\\\" : \\\"{{event}}\\\", \\\"State\\\" : \\\"{{state}}\\\"}\"\n    },\n    \"enabled\": true\n};*/\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1040,"wires":[["f1b742e0.043d4"]]},{"id":"1cce64cd.47432b","type":"debug","z":"e2afa223.bbacc","name":"REQ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":120,"wires":[]},{"id":"72a427fe.82ba48","type":"function","z":"e2afa223.bbacc","name":"Process Alert","func":"\n//node.warn(flow.get(\"receiver\"));\n//flow.set(\"receiver\",\"CLEAR\");\n\nvar email = { \n            severity : msg.req.headers.severity,\n            alertMessage : msg.req.headers.alertmessage,\n            event: msg.payload\n        };\nvar emailMsg = { payload: email }; \nnode.warn(emailMsg);\n\n\n//create SMS\nvar sms = \"Severity:\" +msg.req.headers.severity + \"  \" +msg.req.headers.alertmessage;\nnode.warn(sms);\nmsg.payload = sms;\n\n//return msg;\nreturn [msg, emailMsg];\n","outputs":2,"noerr":0,"x":750,"y":180,"wires":[["e6b25017.22c3d","a0bcea85.6f7008","28388a20.60f916"],["6f9e4c8c.253ac4"]]},{"id":"a0bcea85.6f7008","type":"debug","z":"e2afa223.bbacc","name":"RES","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":80,"wires":[]},{"id":"e6b25017.22c3d","type":"http response","z":"e2afa223.bbacc","name":"","statusCode":"","headers":{},"x":990,"y":160,"wires":[]},{"id":"a4bbd1b2.305e4","type":"comment","z":"e2afa223.bbacc","name":"Webhook Notification Processor","info":"","x":170,"y":60,"wires":[]},{"id":"a526f9f0.b77c58","type":"change","z":"e2afa223.bbacc","name":"delete REQ","rules":[{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["53e9da52.1f9b54"]]},{"id":"53e9da52.1f9b54","type":"change","z":"e2afa223.bbacc","name":"delete RES","rules":[{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[[]]},{"id":"6f9e4c8c.253ac4","type":"debug","z":"e2afa223.bbacc","name":"EMAIL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":280,"wires":[]},{"id":"3506c9fa.afd886","type":"twilio-api","z":"","sid":"AC6655a45ea15b20767330d6d8b76fb6e0","from":"+14153197507","name":"ddd"}]
