flows/SensorTag1
[{"id":"f2df57cf.e1fdf8","type":"ibmiot in","z":"3bdb55b7.2ac16a","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sensortag1","applicationId":"","deviceType":"TISensorTag","eventType":"+","commandType":"","format":"json","name":"TI Sensor","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":160,"y":200,"wires":[["579fdd3d.dfd814","1220276f.afde29"]]},{"id":"579fdd3d.dfd814","type":"debug","z":"3bdb55b7.2ac16a","name":"Raw Data","active":false,"console":"false","complete":"payload","x":314,"y":126,"wires":[]},{"id":"1220276f.afde29","type":"function","z":"3bdb55b7.2ac16a","name":"Parse","func":"\nreturn {\n\t    payload: {\n\t\t    IRTEMP: msg.payload.d.ambientTemp,\n\t\t    optical: msg.payload.d.light\n\t    }\n\t};","outputs":1,"noerr":0,"x":313,"y":253,"wires":[["c963a93.472df58"]]},{"id":"c963a93.472df58","type":"switch","z":"3bdb55b7.2ac16a","name":"Lux?","property":"payload.optical","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"num"},{"t":"btwn","v":"30","vt":"num","v2":"100","v2t":"num"},{"t":"gte","v":"100","vt":"num"}],"checkall":"true","outputs":3,"x":484,"y":250,"wires":[["eba4e1ea.3a41b"],["47369340.c1409c"],["d50e02f3.633e"]]},{"id":"eba4e1ea.3a41b","type":"template","z":"3bdb55b7.2ac16a","name":"Dark","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"({{payload.optical}}) it's dark in here","x":649,"y":189,"wires":[["7efee3da.0d779c"]]},{"id":"47369340.c1409c","type":"template","z":"3bdb55b7.2ac16a","name":"Light","field":"payload","fieldType":"msg","format":"text","template":"({{payload.optical}}) the light is just right","x":647,"y":249,"wires":[["7efee3da.0d779c"]]},{"id":"d50e02f3.633e","type":"template","z":"3bdb55b7.2ac16a","name":"Bright","field":"payload","fieldType":"msg","format":"text","template":"({{payload.optical}}) it's bright in here","x":641,"y":310,"wires":[["7efee3da.0d779c"]]},{"id":"7efee3da.0d779c","type":"debug","z":"3bdb55b7.2ac16a","name":"STATUS","active":false,"console":"false","complete":"payload","x":869,"y":246,"wires":[]},{"id":"fbd0c6a0.451408","type":"comment","z":"3bdb55b7.2ac16a","name":"QuikStart","info":"x","x":80,"y":40,"wires":[]},{"id":"98446fe5.8e77d","type":"comment","z":"3bdb55b7.2ac16a","name":"IoTF","info":"","x":147,"y":435,"wires":[]},{"id":"e91acdc0.c9ae4","type":"ibmiot in","z":"3bdb55b7.2ac16a","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"DDDTI","applicationId":"","deviceType":"SensorTag","eventType":"+","commandType":"","format":"json","name":"Thing 2","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":146,"y":527,"wires":[["b29ed587.cdff88"]]},{"id":"b29ed587.cdff88","type":"debug","z":"3bdb55b7.2ac16a","name":"REGISTER","active":true,"console":"false","complete":"payload","x":319,"y":526,"wires":[]},{"id":"3853aec8.76e322","type":"ibmiot in","z":"3bdb55b7.2ac16a","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b0b448b8bf01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":169,"y":646,"wires":[["4af09581.3066bc","d6876148.723f3","500eaf99.a21c","b9c7ce7e.e2c02","5afc3167.0f4c6","17454be9.e645a4","bd13c1e1.9827a","e41dfc9c.b2292","1b696085.b3791f","d02fb45e.e68038","d3fb7231.a78b8","91645125.cfc8d","63488244.4bb7ec"]]},{"id":"4af09581.3066bc","type":"debug","z":"3bdb55b7.2ac16a","name":"ambientTemp","active":false,"tosidebar":true,"complete":"payload.d.ambientTemp","x":672.5,"y":646,"wires":[]},{"id":"d6876148.723f3","type":"debug","z":"3bdb55b7.2ac16a","name":"objectTemp","active":false,"complete":"payload.d.objectTemp","x":662.5,"y":690,"wires":[]},{"id":"500eaf99.a21c","type":"debug","z":"3bdb55b7.2ac16a","name":"humidity","active":false,"complete":"payload.d.humidity","x":653.5,"y":733,"wires":[]},{"id":"b9c7ce7e.e2c02","type":"debug","z":"3bdb55b7.2ac16a","name":"accelX","active":false,"complete":"payload.d.accelX","x":647.5,"y":782,"wires":[]},{"id":"5afc3167.0f4c6","type":"debug","z":"3bdb55b7.2ac16a","name":"accelY","active":false,"complete":"payload.d.accelY","x":649.5,"y":826,"wires":[]},{"id":"17454be9.e645a4","type":"debug","z":"3bdb55b7.2ac16a","name":"accelZ","active":false,"complete":"payload.d.accelZ","x":649.5,"y":874,"wires":[]},{"id":"bd13c1e1.9827a","type":"debug","z":"3bdb55b7.2ac16a","name":"gyroX","active":false,"complete":"payload.d.gyroX","x":648.5,"y":917,"wires":[]},{"id":"e41dfc9c.b2292","type":"debug","z":"3bdb55b7.2ac16a","name":"gyroY","active":false,"complete":"payload.d.gyroY","x":649.5,"y":963,"wires":[]},{"id":"1b696085.b3791f","type":"debug","z":"3bdb55b7.2ac16a","name":"gyroZ","active":false,"complete":"payload.d.gyroZ","x":652.5,"y":1008,"wires":[]},{"id":"d02fb45e.e68038","type":"debug","z":"3bdb55b7.2ac16a","name":"magX","active":false,"complete":"payload.d.magX","x":652.5,"y":1052,"wires":[]},{"id":"d3fb7231.a78b8","type":"debug","z":"3bdb55b7.2ac16a","name":"magY","active":false,"complete":"payload.d.magY","x":652.5,"y":1098,"wires":[]},{"id":"91645125.cfc8d","type":"debug","z":"3bdb55b7.2ac16a","name":"magZ","active":false,"complete":"payload.d.magZ","x":655.5,"y":1141,"wires":[]},{"id":"63488244.4bb7ec","type":"debug","z":"3bdb55b7.2ac16a","name":"light","active":true,"complete":"payload.d.light","x":655.5,"y":1190,"wires":[]}]
