flows/SensorTag5
[{"id":"e86b9e30.865df","type":"ibmiot in","z":"d1c631c6.0db56","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b0b448b94f83","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"T1 Sensor","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":200,"y":140,"wires":[["394a5819.838c38","f3081a4a.d562e8"]]},{"id":"394a5819.838c38","type":"debug","z":"d1c631c6.0db56","name":"DATA","active":true,"console":"false","complete":"payload","x":363.5,"y":62,"wires":[]},{"id":"2565c8ba.501558","type":"debug","z":"d1c631c6.0db56","name":"To MQL","active":false,"console":"false","complete":"payload","x":412,"y":300,"wires":[]},{"id":"4736f2f2.72692c","type":"mqtt in","z":"d1c631c6.0db56","name":"Sub + +","topic":"iot-2/type/+/id/+/evt/telemetry/fmt/json","broker":"dd7fb7d1.685058","x":926,"y":181,"wires":[["25a92490.ceb6cc"]]},{"id":"25a92490.ceb6cc","type":"debug","z":"d1c631c6.0db56","name":"From PSEUDO","active":false,"console":"false","complete":"payload","x":1100,"y":123,"wires":[]},{"id":"585c3276.2f4e5c","type":"comment","z":"d1c631c6.0db56","name":"Driver","info":"This flow accepts data from a TI SensorTag connected to the IoTF \nQuickStart service. \n\nIt publishes the complete message using MQ Light to demonstrate getting\ndata from a non-MQTT enabled device into the IoTF.\n\nA second flow will subscribe and receive the data from MQ Light, and\nthen pblish the data to an IoTF service using the NodeRed MQTT node.\n\n\n","x":202,"y":103,"wires":[]},{"id":"d6dad156.8917b","type":"comment","z":"d1c631c6.0db56","name":"MQ Light Subscriber","info":"This flow receives data from flow 1 and publishes the data\nto a real IoTF service. (not the QuickStart service)\n\nTo simulate the data coming from a real device it uses the follwing:\n  topic:  iot-2/evt/telemetry/fmt/json\n  clientid:  d:l27t3p:NRMQTT:MQLIGHT1\n  \n  The clientid is  d:org:devtype:deviceid \n  \n  The deviceid must be registered to the IoTF service. \n  \n \n  \n  \n  ","x":218,"y":288,"wires":[]},{"id":"101b873e.2a2b49","type":"comment","z":"d1c631c6.0db56","name":"Test ","info":"zzz","x":928,"y":123,"wires":[]},{"id":"d980dc3e.aa518","type":"debug","z":"d1c631c6.0db56","name":"Sensor Telemetry","active":false,"console":"false","complete":"true","x":784,"y":304,"wires":[]},{"id":"d2259037.ab3a","type":"inject","z":"d1c631c6.0db56","name":"","topic":"","payload":"1,2,3","payloadType":"string","repeat":"","crontab":"","once":false,"x":1004,"y":275,"wires":[["7a7846e4.3fa5c8","468753de.6f1b1c"]]},{"id":"7a7846e4.3fa5c8","type":"debug","z":"d1c631c6.0db56","name":"INJECT","active":true,"console":"false","complete":"true","x":1154,"y":256,"wires":[]},{"id":"468753de.6f1b1c","type":"function","z":"d1c631c6.0db56","name":"Add FieldNames","func":"\nvar s = msg.payload.split(\",\");\n\nmsg.payload = {d: \n                {\n\t  \t\t    optical: s[0],\n\t  \t\t    IRTemp: s[1],\n\t  \t\t    humidity: s[2]\n                }\n\t  \t\t}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1195,"y":309,"wires":[["b6ebeb14.72d498"]]},{"id":"b6ebeb14.72d498","type":"debug","z":"d1c631c6.0db56","name":"","active":true,"console":"false","complete":"true","x":1372,"y":309,"wires":[]},{"id":"de44f85c.722c18","type":"json","z":"d1c631c6.0db56","name":"","x":405,"y":418,"wires":[["dddbea73.df6678","7dfd3ee2.fad28"]]},{"id":"133eaaf8.0fdd05","type":"mqtt out","z":"d1c631c6.0db56","name":"Environment","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"2d233532.c7657a","x":819,"y":358,"wires":[]},{"id":"972510b5.27243","type":"mqtt out","z":"d1c631c6.0db56","name":"Accelerometer","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"18fe700a.0efd","x":822,"y":410,"wires":[]},{"id":"732029ef.0482d8","type":"mqtt out","z":"d1c631c6.0db56","name":"Gryoscope","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"ad275b89.553338","x":813,"y":462,"wires":[]},{"id":"dddbea73.df6678","type":"function","z":"d1c631c6.0db56","name":"Parse 5","func":"//node.warn(\"Parse Entry\"); c\n\nvar t = msg.payload.substr(6);\nvar s = t.split(\",\");\n\nvar HEAD = \"{\\\"d\\\":{\";\nvar m = new Array(5);\n\nfor (var i in s) {\n    var p = { payload: HEAD };\n  \n    switch(parseInt(i)) {\n        case 4:\n            //node.warn(\"SW4 ENV\");\n            p.payload = p.payload + s[0] +\",\"+ s[1] +\",\"+ s[2] +\",\"+ s[3] +\",\"+ s[4] +\"}}\";\n            m[0] = p;\n            //node.warn(\"m0: \"+JSON.stringify(m[0].payload));\n            break;\n        case 7:\n            //node.warn(\"SW7 ACC\");\n            p.payload = p.payload + s[5] +\",\"+ s[6] +\",\"+ s[7] +\"}}\";\n            m[1] = p;\n            //node.warn(\"m1: \"+JSON.stringify(m[1].payload));\n            break;\n        case 10:\n            //node.warn(\"SW10 GYRO\");\n            p.payload = p.payload + s[8] +\",\"+ s[9] +\",\"+ s[10] +\"}}\";\n            m[2] = p;\n            break; \n        case 13:\n            //node.warn(\"SW13 MAG\");\n            p.payload = p.payload + s[11] +\",\"+ s[12] +\",\"+ s[13] +\"}}\";\n            m[3] = p;\n            break; \n        case 14:\n            //node.warn(\"SW14 OPT\");\n            p.payload = p.payload + s[14];\n            m[4] = p;\n            break;      \n        default:\n            break;\n        }\n   }   \n  ///xp(m);\n\nreturn [\n        m[0],       //environment\n        m[1],       //accelerometer\n        m[2],       //gryroscope\n        m[3],       //magnetometer\n        m[4]        //light\n    ];\n\nfunction xp(m){\n   for(var i in m) {\n        node.warn(\"m\"+i+\" : \"+JSON.stringify(m[i].payload));\n   }\n}\n","outputs":"5","noerr":0,"x":579,"y":462,"wires":[["d980dc3e.aa518","133eaaf8.0fdd05"],["972510b5.27243"],["732029ef.0482d8"],["d5d62cf6.859a1"],["d91773a2.5c4ab"]]},{"id":"d5d62cf6.859a1","type":"mqtt out","z":"d1c631c6.0db56","name":"Magnetometer","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"b14ad821.f662b8","x":823,"y":515,"wires":[]},{"id":"d91773a2.5c4ab","type":"mqtt out","z":"d1c631c6.0db56","name":"Light Detector","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"d8ec9a19.38b648","x":820,"y":560,"wires":[]},{"id":"7dfd3ee2.fad28","type":"debug","z":"d1c631c6.0db56","name":"JSON","active":false,"console":"false","complete":"payload","x":545,"y":389,"wires":[]},{"id":"e221e48d.b5d558","type":"mqtt out","z":"d1c631c6.0db56","name":"d:l27t3p:SensorTag:001","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"7975c40b.cae7bc","x":610,"y":160,"wires":[]},{"id":"d8a1b25.9f9315","type":"mqtt out","z":"d1c631c6.0db56","name":"d:l27t3p:NRMQTT:MQLIGHT1","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"ad11e54a.cfa6d8","x":651,"y":239,"wires":[]},{"id":"64bd5992.5fd898","type":"comment","z":"d1c631c6.0db56","name":"l27t3p","info":"v","x":195,"y":66,"wires":[]},{"id":"b2d11d47.240e5","type":"function","z":"d1c631c6.0db56","name":"SUB","func":"node.warn(JSON.stringify(msg.payload));\nnode.warn(JSON.stringify(msg.payload.d));\nvar d = msg.payload.d;\nnode.warn(d);\n\nreturn msg;","outputs":1,"noerr":0,"x":1107,"y":182,"wires":[[]]},{"id":"f3081a4a.d562e8","type":"function","z":"d1c631c6.0db56","name":"IoTF IN","func":"\n//node.warn(\"PAYLOAD:\"+JSON.stringify(msg.payload));\nvar d = msg.payload.d;\n//node.warn(\"d:\"+JSON.stringify(d));\n\n\nmsg.payload = { \"d\" : { \n        \"AmbTemp\" : parseFloat(d.ambientTemp) ,\n        \"ObjTemp\" : parseFloat(d.objectTemp)  ,\n        \"Humidity\" : parseFloat(d.humidity)  ,\n        \"Pressure\" : parseFloat(d.pressure) ,  \n        \"Altitude\" : parseFloat(d.altitude) ,  \n        \"AccX\" : parseFloat(d.accelX)  ,\n        \"AccY\" : parseFloat(d.accelY)  ,\n        \"AccZ\" : parseFloat(d.accelZ)  ,\n        \"GyroX\" : parseFloat(d.gyroX)  ,\n        \"GyroY\" : parseFloat(d.gyroY)  ,\n        \"GyroZ\" : parseFloat(d.gyroZ) ,\n        \"MagX\" : parseFloat(d.magX)  ,\n        \"MagY\" : parseFloat(d.magY)  ,\n        \"MagZ\" : parseFloat(d.magZ)  , \n        \"Light\" : parseFloat(d.light)  } \n        };\n\nnode.warn(\"OUT:\"+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":140,"wires":[["e221e48d.b5d558","e2bd4fb5.8d5ac"]]},{"id":"1a8ff5a3.394a9a","type":"mqlight in","z":"d1c631c6.0db56","name":"","topic":"TISENSOR/thing1","share":"","service":"MQ Light-lo","x":216,"y":335,"wires":[["2565c8ba.501558","de44f85c.722c18"]]},{"id":"e2bd4fb5.8d5ac","type":"mqlight out","z":"d1c631c6.0db56","name":"","topic":"TISENSOR/thing1","service":"MQ Light-lo","x":611,"y":105,"wires":[]},{"id":"dd7fb7d1.685058","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:l27t3p:RTI2"},{"id":"2d233532.c7657a","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:TI_Env:ST01"},{"id":"18fe700a.0efd","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:TI_Acc:ST02"},{"id":"ad275b89.553338","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:TI_Gyr:ST03"},{"id":"b14ad821.f662b8","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:TI_Mag:ST04"},{"id":"d8ec9a19.38b648","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:TI_Opt:ST05"},{"id":"7975c40b.cae7bc","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:SensorTag:001"},{"id":"ad11e54a.cfa6d8","type":"mqtt-broker","broker":"l27t3p.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:l27t3p:NRMQTT:MQLIGHT1"}]
