flows/Simulator
[{"id":"9a3f0ef6.9b18d","type":"inject","z":"324ae23c.e5745e","name":"d x-y-z","topic":"","payload":"{\"d\":{\"x\":1,\"y\":2,\"z\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[[]]},{"id":"89de0edc.1afe3","type":"comment","z":"324ae23c.e5745e","name":"IoTP 2019    org = 306h4b","info":"","x":130,"y":20,"wires":[]},{"id":"270fd4b0.79bc2c","type":"inject","z":"324ae23c.e5745e","name":"x-y-z","topic":"","payload":"{\"d\":{\"x\":2,\"y\":2,\"z\":4}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["a6d45cf7.7d7d2"]]},{"id":"a6d45cf7.7d7d2","type":"wiotp out","z":"324ae23c.e5745e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"ad33749.acc6988","deviceType":"","deviceId":"","event":"telemetry","format":"json","qos":"","name":"sim2","x":670,"y":180,"wires":[]},{"id":"a5abacf5.89557","type":"inject","z":"324ae23c.e5745e","name":"x-y-z","topic":"","payload":"{\"d\":{\"x\":1,\"y\":2,\"z\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":140,"wires":[["157ed1e7.509cbe"]]},{"id":"a4a4167.0ea47e8","type":"comment","z":"324ae23c.e5745e","name":"events","info":"","x":90,"y":80,"wires":[]},{"id":"5c2cd6c0.3dfac8","type":"comment","z":"324ae23c.e5745e","name":"commands","info":"","x":820,"y":100,"wires":[]},{"id":"157ed1e7.509cbe","type":"ibmiot out","z":"324ae23c.e5745e","authentication":"boundService","apiKey":"b45a63ea.4d24","outputType":"cmd","deviceId":"simCherryPi","deviceType":"sim","eventCommandType":"command","format":"json","data":"{\"CMD\": \"COMMAND\"}","qos":0,"name":"IBM IoT","service":"registered","x":980,"y":140,"wires":[]},{"id":"152960e9.2fcedf","type":"inject","z":"324ae23c.e5745e","name":"status","topic":"","payload":"{\"d\":{\"status\": \"ON\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["6d091e7d.1e16c"]]},{"id":"6d091e7d.1e16c","type":"function","z":"324ae23c.e5745e","name":"event","func":"msg.event = \"status\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["a6d45cf7.7d7d2"]]},{"id":"7c9afecb.b1092","type":"comment","z":"324ae23c.e5745e","name":"rules","info":"","x":350,"y":320,"wires":[]},{"id":"694d0354.a7c33c","type":"inject","z":"324ae23c.e5745e","name":"X Low","topic":"","payload":"{\"d\":{\"x\":0,\"y\":1,\"z\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":400,"wires":[["a6d45cf7.7d7d2"]]},{"id":"f39f55ed.649568","type":"inject","z":"324ae23c.e5745e","name":"Y Low","topic":"","payload":"{\"d\":{\"x\":1,\"y\":0,\"z\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":480,"wires":[["a6d45cf7.7d7d2"]]},{"id":"c5c18621.969e18","type":"inject","z":"324ae23c.e5745e","name":"X High","topic":"","payload":"{\"d\":{\"x\":10,\"y\":1,\"z\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["a6d45cf7.7d7d2"]]},{"id":"52544a8e.511b14","type":"inject","z":"324ae23c.e5745e","name":"Y High","topic":"","payload":"{\"d\":{\"x\":1,\"y\":10,\"z\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":440,"wires":[["a6d45cf7.7d7d2"]]},{"id":"f1bb373d.944338","type":"inject","z":"324ae23c.e5745e","name":"Z Low","topic":"","payload":"{\"d\":{\"x\":1,\"y\":1,\"z\":0}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":400,"wires":[["a6d45cf7.7d7d2"]]},{"id":"df844e1a.97994","type":"inject","z":"324ae23c.e5745e","name":"Z High","topic":"","payload":"{\"d\":{\"x\":1,\"y\":1,\"z\":11}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":360,"wires":[["a6d45cf7.7d7d2"]]},{"id":"ab5e5000.bab5b","type":"inject","z":"324ae23c.e5745e","name":"Z 99","topic":"","payload":"{\"d\":{\"x\":1,\"y\":1,\"z\":99}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["a6d45cf7.7d7d2"]]},{"id":"e06086b1.06a818","type":"inject","z":"324ae23c.e5745e","name":"Z 7","topic":"","payload":"{\"d\":{\"x\":1,\"y\":1,\"z\":7}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":480,"wires":[["a6d45cf7.7d7d2"]]},{"id":"2b32f1bd.339e0e","type":"inject","z":"324ae23c.e5745e","name":"Z 9","topic":"","payload":"{\"d\":{\"x\":1,\"y\":1,\"z\":9}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":520,"wires":[["a6d45cf7.7d7d2"]]},{"id":"516c5cb.8e08da4","type":"inject","z":"324ae23c.e5745e","name":"x-y-z","topic":"","payload":"{\"x\":1,\"y\":2,\"z\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["a6d45cf7.7d7d2"]]},{"id":"ad33749.acc6988","type":"wiotp-credentials","z":"","name":"306h4b","org":"306h4b","serverName":"","devType":"sim","devId":"sim2","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"b45a63ea.4d24","type":"ibmiot","z":"","name":"306h4b","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
