flows/ST numeric
[{"id":"af524541.53ea58","type":"debug","z":"997cd207.79de7","name":"STIN","active":false,"console":"false","complete":"payload","x":250,"y":120,"wires":[]},{"id":"120ebf57.269f31","type":"mqtt out","z":"997cd207.79de7","name":"","topic":"iot-2/evt/telemetry/fmt/json","qos":"","retain":"","broker":"1640f04f.5095f","x":532,"y":174,"wires":[]},{"id":"fc28d482.ecb798","type":"ibmiot in","z":"997cd207.79de7","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"dddst","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":112,"y":173,"wires":[["a29dde99.d4e6e","af524541.53ea58"]]},{"id":"a29dde99.d4e6e","type":"function","z":"997cd207.79de7","name":"Numeric","func":"var d = msg.payload.d;\n\nmsg.payload = { \"d\" : { \n        \"AmbTemp\" : parseFloat(d.ambientTemp) ,\n        \"ObjTemp\" : parseFloat(d.objectTemp)  ,\n        \"Humidity\" : parseFloat(d.humidity)  ,\n        \"Pressure\" : parseFloat(d.pressure) ,  \n        \"Altitude\" : parseFloat(d.altitude) ,  \n        \"AccX\" : parseFloat(d.accelX)  ,\n        \"AccY\" : parseFloat(d.accelY)  ,\n        \"AccZ\" : parseFloat(d.accelZ)  ,\n        \"GyroX\" : parseFloat(d.gyroX)  ,\n        \"GyroY\" : parseFloat(d.gyroY)  ,\n        \"GyroZ\" : parseFloat(d.gyroZ) ,\n        \"MagX\" : parseFloat(d.magX)  ,\n        \"MagY\" : parseFloat(d.magY)  ,\n        \"MagZ\" : parseFloat(d.magZ)  , \n        \"Light\" : parseFloat(d.light)  } \n        };\n        \nreturn msg;","outputs":1,"noerr":0,"x":291,"y":174,"wires":[["19f3768f.72b449"]]},{"id":"19f3768f.72b449","type":"debug","z":"997cd207.79de7","name":"STOUT","active":false,"console":"false","complete":"payload","x":455,"y":121,"wires":[]},{"id":"1c1fe34f.c60ded","type":"comment","z":"997cd207.79de7","name":"Convert Numeric","info":"","x":131,"y":66,"wires":[]},{"id":"1640f04f.5095f","type":"mqtt-broker","z":"997cd207.79de7","broker":"qa2pd0.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:qa2pd0:SensorTagNum:dddstnum","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""}]
