flows/UI demo
[{"id":"66715092.aef21","type":"ibmiot in","z":"25d9a128.e8cf1e","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sensortag1","applicationId":"","deviceType":"TISensorTag","eventType":"+","commandType":"","format":"json","name":"TI Sensor","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":165.71527099609375,"y":146.892333984375,"wires":[["900e6d72.65ca7","b6f9e881.566308"]]},{"id":"900e6d72.65ca7","type":"debug","z":"25d9a128.e8cf1e","name":"ST Raw Data","active":false,"console":"false","complete":"payload","x":336.71527099609375,"y":95.892333984375,"wires":[]},{"id":"b6f9e881.566308","type":"function","z":"25d9a128.e8cf1e","name":"Parse","func":"var count = flow.get('count')||0;\ncount ++;\nflow.set('count',count);\n\n\nreturn [\n\t    {payload: msg.payload.d.ambientTemp},\n\t    {payload: msg.payload.d.objectTemp},\n\t    {payload: msg.payload.d.humidity},\n\t    {payload: msg.payload.d.pressure},\n\t    {payload: msg.payload.d.light}\n\t    ];","outputs":"5","noerr":0,"x":338.71527099609375,"y":168.892333984375,"wires":[["2a4cc01a.4c60b"],["9120741b.990528"],["8d07f8c9.aec7f8"],["743efe70.e7d8a"],["e1447ef.4c6758"]]},{"id":"2a4cc01a.4c60b","type":"ui_gauge","z":"25d9a128.e8cf1e","name":"Ambient","group":"9727fb4e.f93718","order":"1","width":"","height":"","gtype":"gage","title":"Ambient","label":"","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":565.7152557373047,"y":49.892337799072266,"wires":[]},{"id":"9120741b.990528","type":"ui_gauge","z":"25d9a128.e8cf1e","name":"Object","group":"9727fb4e.f93718","order":"2","width":"","height":"","gtype":"gage","title":"Object","label":"","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"25","x":550,"y":100,"wires":[]},{"id":"8a08768.903d588","type":"ui_gauge","z":"25d9a128.e8cf1e","name":"Humidity","group":"f5c06f29.899a5","order":"11","width":"","height":"","gtype":"gage","title":"","label":"","format":"%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":740,"y":180,"wires":[]},{"id":"fa7ffcc8.0406f","type":"ui_gauge","z":"25d9a128.e8cf1e","name":"Barometer","group":"c9b10d10.e67e2","order":"21","width":"","height":"","gtype":"gage","title":"","label":"","format":"mbar","min":"850","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"975","seg2":"1000","x":770,"y":300,"wires":[]},{"id":"ae66acb9.c4f5e","type":"ui_gauge","z":"25d9a128.e8cf1e","name":"Light","group":"a909a9dd.50aa78","order":"31","width":"","height":"","gtype":"gage","title":"","label":"","format":"Lux","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":690,"y":420,"wires":[]},{"id":"1ee95496.c1743b","type":"ui_text","z":"25d9a128.e8cf1e","group":"f5c06f29.899a5","order":"10","width":"","height":"","name":"text","label":"","format":"{{msg.payload}} %","layout":"","x":731,"y":143,"wires":[]},{"id":"12a01145.4cc23f","type":"ui_text","z":"25d9a128.e8cf1e","group":"c9b10d10.e67e2","order":"20","width":"","height":"","name":"","label":"","format":"{{msg.payload}} mbar","layout":"","x":751,"y":266,"wires":[]},{"id":"24782251.3e4b1e","type":"ui_text","z":"25d9a128.e8cf1e","group":"a909a9dd.50aa78","order":"30","width":"","height":"","name":"","label":"","format":"{{msg.payload}} Lux","layout":"","x":693,"y":387,"wires":[]},{"id":"490ee100.64823","type":"ui_chart","z":"25d9a128.e8cf1e","name":"","group":"f5c06f29.899a5","order":"12","width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":732,"y":214,"wires":[[]]},{"id":"288d408c.cedbd","type":"ui_chart","z":"25d9a128.e8cf1e","name":"","group":"c9b10d10.e67e2","order":"22","width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":753,"y":338,"wires":[[]]},{"id":"c1172b41.6860c8","type":"ui_chart","z":"25d9a128.e8cf1e","name":"","group":"a909a9dd.50aa78","order":"32","width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":693,"y":455,"wires":[[]]},{"id":"8d07f8c9.aec7f8","type":"function","z":"25d9a128.e8cf1e","name":"Throttle 5","func":"\nif (flow.get('count')%5 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":541,"y":176,"wires":[["8a08768.903d588","490ee100.64823","1ee95496.c1743b"]]},{"id":"743efe70.e7d8a","type":"function","z":"25d9a128.e8cf1e","name":"Throttle 20","func":"\nif (flow.get('count')%20 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":563,"y":299,"wires":[["12a01145.4cc23f","fa7ffcc8.0406f","288d408c.cedbd"]]},{"id":"e1447ef.4c6758","type":"function","z":"25d9a128.e8cf1e","name":"Throttle 5","func":"\nif (flow.get('count')%5 === 0) \n    return msg;\nelse \n    return null;","outputs":1,"noerr":0,"x":493,"y":404,"wires":[["24782251.3e4b1e","ae66acb9.c4f5e","c1172b41.6860c8"]]},{"id":"5a75d841.6443b8","type":"ibmiot in","z":"25d9a128.e8cf1e","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"dddios","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IoT Starter","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":80,"y":340,"wires":[["8f2d8db7.0942e"]]},{"id":"8f2d8db7.0942e","type":"debug","z":"25d9a128.e8cf1e","name":"iOS","active":true,"console":"false","complete":"payload","x":230,"y":340,"wires":[]},{"id":"f7a83445.e86e38","type":"comment","z":"25d9a128.e8cf1e","name":"UI Driver","info":"","x":120,"y":60,"wires":[]},{"id":"8da696d0.2f4f38","type":"twilio out","z":"25d9a128.e8cf1e","service":"_ext_","twilio":"3506c9fa.afd886","from":"","number":"4128554518","name":"Send SMS","x":950,"y":800,"wires":[]},{"id":"81539f55.6e9d2","type":"e-mail","z":"25d9a128.e8cf1e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ne3rdne7th@gmail.com","dname":"Send Email","x":1030,"y":860,"wires":[]},{"id":"6edf4ec4.e5a2b","type":"inject","z":"25d9a128.e8cf1e","name":"","topic":"","payload":"Hello World !","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":920,"wires":[["81539f55.6e9d2"]]},{"id":"3c52a5a8.7fb52a","type":"http in","z":"25d9a128.e8cf1e","name":"/event","url":"/event","method":"post","upload":false,"swaggerDoc":"","x":112.27778625488281,"y":834.4409637451172,"wires":[["29c41ef7.69f592","a9040979.7c6dc8"]]},{"id":"29c41ef7.69f592","type":"debug","z":"25d9a128.e8cf1e","name":"REQ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":272.2777862548828,"y":774.4409637451172,"wires":[]},{"id":"a9040979.7c6dc8","type":"function","z":"25d9a128.e8cf1e","name":"Process Alert","func":"\n//node.warn(flow.get(\"receiver\"));\n//flow.set(\"receiver\",\"CLEAR\");\n\nflow.set(\"severity\",msg.req.headers.severity)\n\n//create email\nvar email = { \n            severity : msg.req.headers.severity,\n            alertMessage : msg.req.headers.alertmessage,\n            event: msg.payload\n        };\nvar emailMsg = { payload: email }; \nnode.warn(emailMsg);\n\n//create SMS\nvar sms = \"Severity:\" +msg.req.headers.severity + \"  \" +msg.req.headers.alertmessage;\nnode.warn(sms);\nmsg.payload = sms;\n\n//create dashboard alert\nvar dashMsg = {payload: msg.req.headers.alertmessage };\n\n//return msg;\nreturn [msg, emailMsg, dashMsg];\n","outputs":3,"noerr":0,"x":672.2777862548828,"y":834.4409637451172,"wires":[["ae85aca7.2dab7","54efc3a9.0a390c","8da696d0.2f4f38"],["9650f631.19b3a8"],["4ffc1358.435d1c","5f69f96b.af37c8"]]},{"id":"54efc3a9.0a390c","type":"debug","z":"25d9a128.e8cf1e","name":"RES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":720,"wires":[]},{"id":"ae85aca7.2dab7","type":"http response","z":"25d9a128.e8cf1e","name":"","statusCode":"","headers":{},"x":930,"y":760,"wires":[]},{"id":"401f6f75.aadb5","type":"comment","z":"25d9a128.e8cf1e","name":"Webhook Notification Processor","info":"","x":170,"y":720,"wires":[]},{"id":"4ac85f49.5b0f2","type":"change","z":"25d9a128.e8cf1e","name":"delete REQ","rules":[{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.2777862548828,"y":834.4409637451172,"wires":[["a19a3956.f87de8"]]},{"id":"a19a3956.f87de8","type":"change","z":"25d9a128.e8cf1e","name":"delete RES","rules":[{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":492.2777862548828,"y":834.4409637451172,"wires":[[]]},{"id":"dec2f44b.605098","type":"ui_text","z":"25d9a128.e8cf1e","group":"20e3b8a.4da6a48","order":1,"width":"","height":"","name":"Dock","label":"","format":"{{msg.beg}} {{msg.payload}} {{msg.end}}","layout":"row-spread","x":970,"y":1060,"wires":[]},{"id":"cd7a0b18.f5a5b8","type":"ui_text","z":"25d9a128.e8cf1e","group":"de744433.0345d8","order":1,"width":"","height":"","name":"Gen","label":"","format":"{{msg.beg}} {{msg.payload}} {{msg.end}}","layout":"","x":970,"y":1020,"wires":[]},{"id":"ecafe15e.37701","type":"ui_text","z":"25d9a128.e8cf1e","group":"38d885d3.4a648a","order":1,"width":"","height":"","name":"F1","label":"","format":": {{msg.payload}}","layout":"","x":970,"y":1100,"wires":[]},{"id":"8e4d2732.aaafc8","type":"ui_text","z":"25d9a128.e8cf1e","group":"d7b1edd0.95d7f","order":1,"width":"","height":"","name":"F2","label":"","format":": {{msg.payload}}","layout":"","x":970,"y":1140,"wires":[]},{"id":"50a362ee.d5322c","type":"inject","z":"25d9a128.e8cf1e","name":"Set","topic":"","payload":"E021: SEV1   Prime generator failure","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":630,"y":960,"wires":[["7683b50c.7e6a9c"]]},{"id":"7683b50c.7e6a9c","type":"function","z":"25d9a128.e8cf1e","name":"Set HTML props","func":"\n//: <font color=\"red\">{{msg.payload}}</font>\nmsg.beg = \"<font color=\\\"red\\\">\"\nmsg.end = \"</font>\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1020,"wires":[["cd7a0b18.f5a5b8"]]},{"id":"4ffc1358.435d1c","type":"switch","z":"25d9a128.e8cf1e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":920,"wires":[["7683b50c.7e6a9c"]]},{"id":"5f69f96b.af37c8","type":"switch","z":"25d9a128.e8cf1e","name":"","property":"severity","propertyType":"flow","rules":[{"t":"eq","v":"HIGH","vt":"str"},{"t":"eq","v":"MEDIUM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1060,"wires":[["7683b50c.7e6a9c"],["dc2a712f.e9b"]]},{"id":"4c7ce0a5.244e","type":"ui_button","z":"25d9a128.e8cf1e","name":"CLR","group":"20e3b8a.4da6a48","order":"1","width":"","height":"","passthru":false,"label":"CLEAR","tooltip":"clear alert message","color":"","bgcolor":"","icon":"fa-bars","payload":"\"abc\"","payloadType":"str","topic":"","x":690,"y":1160,"wires":[["1ac4f3dd.04b25c"]]},{"id":"b0465ad8.b6ad08","type":"ui_button","z":"25d9a128.e8cf1e","name":"CLR","group":"de744433.0345d8","order":1,"width":"","height":"","passthru":false,"label":"CLEAR","tooltip":"clear alert message","color":"","bgcolor":"","icon":"fa-bars","payload":"","payloadType":"str","topic":"","x":690,"y":1120,"wires":[["34518a9.781f676"]]},{"id":"b977408a.e1924","type":"ui_button","z":"25d9a128.e8cf1e","name":"CLR","group":"38d885d3.4a648a","order":1,"width":"","height":"","passthru":false,"label":"CLEAR","tooltip":"clear alert message","color":"","bgcolor":"","icon":"fa-bars","payload":"","payloadType":"str","topic":"","x":690,"y":1200,"wires":[["3693605e.ee7c7"]]},{"id":"4dbc7289.cd1c5c","type":"ui_button","z":"25d9a128.e8cf1e","name":"CLR","group":"d7b1edd0.95d7f","order":1,"width":"","height":"","passthru":false,"label":"CLEAR","tooltip":"clear alert message","color":"","bgcolor":"","icon":"fa-bars","payload":"","payloadType":"str","topic":"","x":690,"y":1240,"wires":[["f7da3f84.20e0e"]]},{"id":"34518a9.781f676","type":"change","z":"25d9a128.e8cf1e","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1120,"wires":[["cd7a0b18.f5a5b8"]]},{"id":"f7da3f84.20e0e","type":"change","z":"25d9a128.e8cf1e","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1240,"wires":[["8e4d2732.aaafc8"]]},{"id":"3693605e.ee7c7","type":"change","z":"25d9a128.e8cf1e","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1200,"wires":[["ecafe15e.37701"]]},{"id":"1ac4f3dd.04b25c","type":"change","z":"25d9a128.e8cf1e","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1160,"wires":[["dec2f44b.605098"]]},{"id":"dc2a712f.e9b","type":"function","z":"25d9a128.e8cf1e","name":"Set HTML props","func":"\n//: <font color=\"red\">{{msg.payload}}</font>\nmsg.beg = \"<font color=\\\"yellow\\\">\"\nmsg.end = \"</font>\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1060,"wires":[["dec2f44b.605098"]]},{"id":"9650f631.19b3a8","type":"debug","z":"25d9a128.e8cf1e","name":"EMAIL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":840,"wires":[]},{"id":"f1f2d312.fcba6","type":"comment","z":"25d9a128.e8cf1e","name":"ALERT Processing","info":"\n-get alerts on Dash\n-clear alerts manuall\n-colors - template node with raw html","x":150,"y":1360,"wires":[]},{"id":"527b207.f584ce","type":"http in","z":"25d9a128.e8cf1e","name":"/env","url":"/env","method":"post","swaggerDoc":"","x":130,"y":1440,"wires":[["fe7ab215.60d82","fc7c7ddf.65154"]]},{"id":"fe7ab215.60d82","type":"debug","z":"25d9a128.e8cf1e","name":"M","active":true,"console":"false","complete":"true","x":299,"y":1405,"wires":[]},{"id":"90106561.c05638","type":"change","z":"25d9a128.e8cf1e","name":"Set deviceId","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.3924102783203,"y":1448.0243530273438,"wires":[["83dcd99a.990318"]]},{"id":"83dcd99a.990318","type":"debug","z":"25d9a128.e8cf1e","name":"FIELD","active":true,"console":"false","complete":"true","x":810,"y":1480,"wires":[]},{"id":"fc7c7ddf.65154","type":"change","z":"25d9a128.e8cf1e","name":"","rules":[{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":323.2743225097656,"y":1445.2465209960938,"wires":[["bd67d985.d11c78"]]},{"id":"bd67d985.d11c78","type":"change","z":"25d9a128.e8cf1e","name":"","rules":[{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":505.27777099609375,"y":1445.013916015625,"wires":[["90106561.c05638"]]},{"id":"7a71213c.c3b75","type":"comment","z":"25d9a128.e8cf1e","name":"MQTT Notification Processor","info":"","x":160,"y":540,"wires":[]},{"id":"793dc88e.acdf38","type":"debug","z":"25d9a128.e8cf1e","name":"Notify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":600,"wires":[]},{"id":"e3165634.f1dac8","type":"ibmiot in","z":"25d9a128.e8cf1e","authentication":"apiKey","apiKey":"b45a63ea.4d24","inputType":"ruletrig","logicalInterface":"5d8cb7f8abb31e001eae4007","ruleId":"5d977993690d210020ee2125","deviceId":"","applicationId":"","deviceType":"BoschSensor","eventType":"+","commandType":"","format":"json","name":"Z = 9","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":600,"wires":[["793dc88e.acdf38"]]},{"id":"9727fb4e.f93718","type":"ui_group","z":"","name":"Temperature","tab":"4eae8f3f.1d98d","order":5,"disp":true,"width":"6","collapse":false},{"id":"f5c06f29.899a5","type":"ui_group","z":"","name":"Humidity","tab":"4eae8f3f.1d98d","order":6,"disp":true,"width":"6","collapse":false},{"id":"c9b10d10.e67e2","type":"ui_group","z":"","name":"Pressure","tab":"4eae8f3f.1d98d","order":7,"disp":true,"width":"6","collapse":false},{"id":"a909a9dd.50aa78","type":"ui_group","z":"","name":"Light","tab":"4eae8f3f.1d98d","order":8,"disp":true,"width":"6","collapse":false},{"id":"3506c9fa.afd886","type":"twilio-api","z":"","sid":"AC6655a45ea15b20767330d6d8b76fb6e0","from":"+14153197507","name":"ddd"},{"id":"20e3b8a.4da6a48","type":"ui_group","z":"","name":"Loading Dock","tab":"4eae8f3f.1d98d","order":2,"disp":true,"width":"6","collapse":false},{"id":"de744433.0345d8","type":"ui_group","z":"","name":"Prime Generator","tab":"4eae8f3f.1d98d","order":1,"disp":true,"width":"6","collapse":false},{"id":"38d885d3.4a648a","type":"ui_group","z":"","name":"Freezer 1","tab":"4eae8f3f.1d98d","order":3,"disp":true,"width":"6","collapse":false},{"id":"d7b1edd0.95d7f","type":"ui_group","z":"","name":"Freezer 2","tab":"4eae8f3f.1d98d","order":4,"disp":true,"width":"6","collapse":false},{"id":"b45a63ea.4d24","type":"ibmiot","z":"","name":"306h4b","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4eae8f3f.1d98d","type":"ui_tab","z":"","name":"Environment Plant 3 Bio Lab","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
