coursera IoT Dev/function
[{"id":"ad0de1f4.f9576","type":"inject","z":"a2d4f67c.4ef4b8","name":"gen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.5,"y":67,"wires":[["9777295b.a3c388"]]},{"id":"4921bdbb.08a664","type":"debug","z":"a2d4f67c.4ef4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":408.5,"y":66,"wires":[]},{"id":"9777295b.a3c388","type":"random","z":"a2d4f67c.4ef4b8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":241.5,"y":68,"wires":[["4921bdbb.08a664"]]},{"id":"ea93a55.66bdc58","type":"debug","z":"a2d4f67c.4ef4b8","name":"Output","active":true,"console":"false","complete":"payload","x":925.5,"y":402,"wires":[]},{"id":"936e989a.917fa8","type":"debug","z":"a2d4f67c.4ef4b8","name":"2nd Output","active":true,"console":"false","complete":"payload","x":945.5,"y":482,"wires":[]},{"id":"a696013d.9f83a","type":"debug","z":"a2d4f67c.4ef4b8","name":"3rd Output","active":true,"console":"false","complete":"payload","x":945.5,"y":562,"wires":[]},{"id":"5383de76.fd70d","type":"function","z":"a2d4f67c.4ef4b8","name":"return Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":"2","noerr":0,"x":445.5,"y":302,"wires":[["ea93a55.66bdc58"],["334dd2b7.1adeee"]]},{"id":"b4e1c853.788d18","type":"function","z":"a2d4f67c.4ef4b8","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":395.5,"y":342,"wires":[["ea93a55.66bdc58"]]},{"id":"b179556d.0c6408","type":"function","z":"a2d4f67c.4ef4b8","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":395.5,"y":422,"wires":[["ea93a55.66bdc58"],["936e989a.917fa8"],["a696013d.9f83a"]]},{"id":"3ecb30b9.554e1","type":"function","z":"a2d4f67c.4ef4b8","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":355.5,"y":482,"wires":[["ea93a55.66bdc58"],["936e989a.917fa8"],["a696013d.9f83a"]]},{"id":"769fc632.0265f8","type":"function","z":"a2d4f67c.4ef4b8","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":375.5,"y":562,"wires":[["ea93a55.66bdc58","4d6e1b14.499644"]]},{"id":"a16a9549.b11578","type":"function","z":"a2d4f67c.4ef4b8","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":385.5,"y":602,"wires":[["ea93a55.66bdc58","4d6e1b14.499644"]]},{"id":"8f7686a7.0d7568","type":"function","z":"a2d4f67c.4ef4b8","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":642,"wires":[["ea93a55.66bdc58","709698d3.ac2208"]]},{"id":"9a10386c.fcab98","type":"function","z":"a2d4f67c.4ef4b8","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":"1","noerr":0,"x":375.5,"y":202,"wires":[["ea93a55.66bdc58"]]},{"id":"709698d3.ac2208","type":"json","z":"a2d4f67c.4ef4b8","name":"","x":565.5,"y":642,"wires":[["936e989a.917fa8","4d6e1b14.499644"]]},{"id":"4d6e1b14.499644","type":"function","z":"a2d4f67c.4ef4b8","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":744.5,"y":584,"wires":[["a696013d.9f83a"]]},{"id":"c1a9d5f.119cf28","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":85.5,"y":302,"wires":[["5383de76.fd70d"]]},{"id":"8ef8bda3.74327","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":85.5,"y":342,"wires":[["b4e1c853.788d18"]]},{"id":"515c23a9.89662c","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":422,"wires":[["b179556d.0c6408"]]},{"id":"9f2e31c7.b30ee","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":482,"wires":[["3ecb30b9.554e1"]]},{"id":"5b072872.497bd8","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":85.5,"y":562,"wires":[["769fc632.0265f8"]]},{"id":"18e5d6c2.211e69","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":85.5,"y":602,"wires":[["a16a9549.b11578"]]},{"id":"6e3ef320.5674bc","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":642,"wires":[["8f7686a7.0d7568"]]},{"id":"f14fe250.75045","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":202,"wires":[["9a10386c.fcab98"]]},{"id":"2f973a67.9acf56","type":"function","z":"a2d4f67c.4ef4b8","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});  //throw goes to Catch\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;        //nothing sent down the wire","outputs":1,"noerr":0,"x":355.5,"y":702,"wires":[["ea93a55.66bdc58"]]},{"id":"f9ec714b.30e79","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":702,"wires":[["2f973a67.9acf56"]]},{"id":"61a99829.9b0b48","type":"catch","z":"a2d4f67c.4ef4b8","name":"Catch node","scope":["2f973a67.9acf56"],"x":405.5,"y":742,"wires":[["c86d5f.fdb762a"]]},{"id":"a126d515.dc8ef8","type":"function","z":"a2d4f67c.4ef4b8","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":405.5,"y":162,"wires":[["ea93a55.66bdc58"]]},{"id":"7510b425.65123c","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.5,"y":162,"wires":[["a126d515.dc8ef8"]]},{"id":"c86d5f.fdb762a","type":"debug","z":"a2d4f67c.4ef4b8","name":"CATCH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":935.5,"y":642,"wires":[]},{"id":"334dd2b7.1adeee","type":"debug","z":"a2d4f67c.4ef4b8","name":"x","active":true,"console":"false","complete":"payload","x":680,"y":195,"wires":[]},{"id":"8ccee52f.8d7c38","type":"inject","z":"a2d4f67c.4ef4b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94,"y":858,"wires":[["9d544b95.2ed768","b06f75fd.305228"]]},{"id":"e887cb1e.d37498","type":"debug","z":"a2d4f67c.4ef4b8","name":"","active":true,"console":"false","complete":"false","x":419,"y":856,"wires":[]},{"id":"9d544b95.2ed768","type":"function","z":"a2d4f67c.4ef4b8","name":"","func":"var crc = global.get('crc');\nmsg.payload = crc.crc32('hello').toString(16);\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":853,"wires":[["e887cb1e.d37498"]]},{"id":"b06f75fd.305228","type":"function","z":"a2d4f67c.4ef4b8","name":"","func":"return [[\n    { payload: 1 },\n    { payload: [ 2, 3 ] },\n    { payload: 4 }\n]];\n\n","outputs":"3","noerr":0,"x":126,"y":942,"wires":[["d987348a.25cfd8"],["daab1f08.50805"],["50961658.471fd8"]]},{"id":"d987348a.25cfd8","type":"debug","z":"a2d4f67c.4ef4b8","name":"1","active":true,"console":"false","complete":"payload","x":260,"y":934,"wires":[]},{"id":"daab1f08.50805","type":"debug","z":"a2d4f67c.4ef4b8","name":"2","active":true,"console":"false","complete":"payload","x":264.5,"y":980,"wires":[]},{"id":"50961658.471fd8","type":"debug","z":"a2d4f67c.4ef4b8","name":"3","active":true,"console":"false","complete":"payload","x":266.5,"y":1025,"wires":[]}]
